@use 'src/assets/styles/worky-typography.scss' as Fonts;
@use 'src/assets/styles/worky-palettes.scss' as color;
@use 'src/assets/styles/worky-breakpoints.scss' as breakpoints;

.content-list {
  height: 86dvh;
  padding-top: 1rem;

  .title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--worky-color-dark);
    text-align: center;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  .search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--worky-color-greyLight);
    border-radius: 5px;
    font-size: 1rem;
  }



  .not-messages-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;

    .no-messages-text {
      font-size: 1rem;
      font-weight: 500;
      color: var(--worky-color-greyDark);
    }

  }
}
