@use 'src/assets/styles/worky-typography.scss' as Fonts;
@use 'src/assets/styles/worky-palettes.scss' as color;
@use 'src/assets/styles/worky-breakpoints.scss' as breakpoints;

.content-list {
    width: 15rem;
    padding-top: 30px;

    .tittle{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 0.75rem/* 12px */;
        line-height: 1rem/* 16px */;
        font-size: 15px;
        font-weight: 600;
    }

    .users{
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        margin-top: calc(0.25rem/* 4px */ * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(0.25rem/* 4px */ * var(--tw-space-y-reverse));
        margin: 1rem -0.5rem 0 -0.5rem;
        max-height: 480px;

        &:hover {
            overflow-y: auto; /* Muestra el scroll cuando se coloca el cursor sobre el widget */
        }
    
        /* Hace el scroll más delgado */
        scrollbar-width: thin;
    
        /* Cambia el color del scroll */
        scrollbar-color: #ffffff #f0f0f0;
    }

    .button{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 0.75rem/* 12px */;
        padding: 0.5rem/* 8px */;
        transition: background-color 0.3s;
    }

    .button:hover {
        background-color: var(--worky-color-greyLight); /* Aplica el color definido al hacer hover */
    }

    .user-name{
        margin-left: 0.5rem/* 8px */;
        font-size: 0.875rem/* 14px */;
        font-weight: 500;
    }

}