<div class="content-list">
  <span class="tittle">Active Conversations</span>
  <div class="users">
    <button *ngFor="let user of users" class="button">
      <worky-avatar [size]="40" class="profile-img"></worky-avatar>
      <span class="user-name">{{ user.name }} {{ user.lastName }}</span>
    </button>
    <button *ngFor="let user of users" class="button">
      <worky-avatar [size]="40" class="profile-img"></worky-avatar>
      <span class="user-name">{{ user.name }} {{ user.lastName }}</span>
    </button>
    <button *ngFor="let user of users" class="button">
      <worky-avatar [size]="40" class="profile-img"></worky-avatar>
      <span class="user-name">{{ user.name }} {{ user.lastName }}</span>
    </button>
    <button *ngFor="let user of users" class="button">
      <worky-avatar [size]="40" class="profile-img"></worky-avatar>
      <span class="user-name">{{ user.name }} {{ user.lastName }}</span>
    </button>
    <button *ngFor="let user of users" class="button">
      <worky-avatar [size]="40" class="profile-img"></worky-avatar>
      <span class="user-name">{{ user.name }} {{ user.lastName }}</span>
    </button>
  </div>
</div>
