.content-publications {
  height: 90vh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.content-publications::-webkit-scrollbar {
  display: none;
}

.last-publication {
  margin-bottom: 50px;
}
