@use 'src/assets/styles/worky-variables' as variables;
@use 'src/assets/styles/worky-palettes' as colors;
@use 'src/assets/styles/worky-breakpoints.scss' as breakpoints;
@use 'sass:map';

.content-view-media {
  display: flex;
  width: 100%;
  height: 100%;
  &.desktop {
    flex-direction: row;
  }
  &.mobil {
    flex-direction: column;
  }

  worky-image-loading {
    width: 65%;
    height: 95vh;
    @include breakpoints.below-sm {
      width: 100%;
      height: 35vh;
    }
  }

  worky-message-loading {
    width: 35%;
    height: 95vh;
    padding: 5px;
    background-color: color-mix(in srgb, var(--worky-color-light), transparent 5%);
    @include breakpoints.below-sm {
      width: 100%;
      height: 65vh;
    }
  }

  .close-btn {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: colors.$worky-color-light;
    font-size: 20px;
    background-color: map.get(colors.$worky-navy, 56);
    border-radius: 50%;
    padding: 5px;
  }
}
