<div class="content-view-media"
  [ngClass]="{
    'mobil': isMobile,
    'desktop': !isMobile,
    'comments-expanded': commentsExpanded
   }">

  <worky-image-loading
    [images]="data.images"
    [imageSelected]="data.imageSelected"
    (imageChanged)="onImageChanged($event)">
  </worky-image-loading>

  <div class="mobile-comment-toggle" *ngIf="isMobile && !commentsExpanded"
    (click)="toggleComments()"
    [attr.aria-label]="'publicationsView.ariaOpenComments' | workyTranslations">
    <i class="material-icons">mode_comment</i>
    <span *ngIf="commentsCount">{{ commentsCount }}</span>
  </div>

  <div class="mobile-comment-backdrop" *ngIf="isMobile && commentsExpanded" (click)="toggleComments()"></div>

  <div class="sheet-handle" *ngIf="isMobile && commentsExpanded" (click)="toggleComments()">
    <span class="sheet-handle-bar"></span>
  </div>

  <worky-message-loading *ngIf="data"
    [images]="data.images"
    [imgSelected]="imageSelected"
    [comment]="data.comment"
    [publication]="data.publication"
    [type]="data.type">
  </worky-message-loading>

  <div class="close-btn">
    <i class="material-icons" (click)="close()">close</i>
  </div>

</div>
