<div class="container-widget content-weather worky-module-container">

  <div class="search">
    <i class="material-icons">place</i>
    <input type="text" [(ngModel)]="city" />

    <worky-buttons
        [workyButtonType]="WorkyButtonType.Outline"
        [theme]="WorkyButtonTheme.Basic"
        [width]="'50%'"
        (click)="getWeatherCity(city)"
        type="submit">
        <span prefix-icon class="material-icons">search</span>
    </worky-buttons>

  </div>

  <div *ngIf="!city" class="loader"></div>
  
  <ng-container *ngIf="city">

    <div *ngIf="localTime" class="local-time">
      Hora local: {{ localTime | date: 'shortTime' }}
    </div>

    <ng-container *ngIf="weatherData">
        <div class="info-weather">
            <img [src]="getWeatherIconUrl(weatherData.forecast.forecastday[i].hour[currentHour].condition.icon)" />
            <div class="temperature-current">{{ weatherData.forecast.forecastday[i].hour[currentHour].temp_c }}<span>°C</span></div>
            <span>Temperatura Actual</span>
            <div class="min-max">
              <p class="temperature">Min: {{ weatherData.forecast.forecastday[i].day.mintemp_c }}<span>°C</span></p>
              <p class="temperature">Max: {{ weatherData.forecast.forecastday[i].day.maxtemp_c }}<span>°C</span></p>
            </div>
            <p class="description">{{ weatherData.forecast.forecastday[i].hour[currentHour].condition.text }}</p>
        </div>
    </ng-container>

    <div *ngIf="weatherData" class="weather-details">

      <div class="humidity">
        <i class="material-icons">water_drop</i>
        <div>
          <span>{{ weatherData.forecast.forecastday[i].hour[currentHour].humidity }}%</span>
        </div>
      </div>

      <div class="wind">
        <i class="material-icons">air</i>
        <div>
          <span>{{ weatherData.forecast.forecastday[i].hour[currentHour].vis_km }} km/h</span>
        </div>
      </div>

    </div>

  </ng-container>
</div>

