@use 'src/assets/styles/worky-variables' as variables;
@use 'src/assets/styles/worky-palettes' as colors;
@use "sass:map";

.tab-menu {
    color: rgba(255, 255, 255, 0.75);
    font-size: variables.$worky-font-size-9;
    padding: 10px;
    transition: color 0.15s ease, background-color 0.15s ease;
    border-radius: variables.$worky-border-radius-medium;
    &:hover {
      background-color: map.get(colors.$worky-navy, 72);
      color: #fff;
    }
}

.nav-item {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}

.nav-item.active .tab-menu {
  color: #fff;
  &:hover {
    color: #fff;
  }
}

.nav-item.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: colors.$worky-color-icon;
  border-radius: 2px 2px 0 0;
}
