@use 'src/assets/styles/worky-typography.scss' as Fonts;
@use 'src/assets/styles/worky-palettes.scss' as color;
@use 'src/assets/styles/worky-breakpoints.scss' as breakpoints;
@use 'src/assets/styles/worky-variables' as variables;

.container-message-chat {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  gap: 10px;
  width: 100%;
  height: 100%;
  
  @include breakpoints.below-sm {
    padding: 0px;
    flex-direction: column;
  }

  .content-left-messages {
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 8px;
    border: 1px solid color.$worky-color-greyLight;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: auto;
    @include breakpoints.below-sm {
      width: 100%;
    }
  }

  .avatar-info{
      display: flex;
      flex-direction: column;
      align-items: center;
      background: var(--worky-color-greyLight);
      border: 1px solid #E4E6EB;
      border-radius: max(0px, min(8px,(100vw - 4px - 100%)* 9999)) / 8px;
      padding: 1.5rem 1rem;

      .name{
          padding-top: 0.75rem;
          font-size: 1rem;
          color: var(--worky-color-indigo);
      }

      .toggle{
          display: flex;
          align-items: center;
          cursor: pointer;
          margin-top: 0.45rem;

          .material-icons{
              font-size: 40px;
          }

          .text{
              margin-left: 0.25rem;
              font-size: 0.75rem;
          }

          &.active .material-icons {
              color: var(--worky-color-teal); 
          }
          
          &.inactive .material-icons {
              color: var(--worky-color-red); 
          }
      }
  }

  .content-right-message{
    width: 70%;
    height: 100%;
    border: 1px solid #E4E6EB;
    border-radius: max(0px, min(8px,(100vw - 4px - 100%)* 9999)) / 8px;
    align-content: center;

    @include breakpoints.below-sm {
      width: 100%;
      border: none;
    }
  }
}