<mat-form-field class="worky-input worky-accent">
  <mat-label>{{ field.label }}</mat-label>
  
  <input 
    matInput
    [type]="field.type || 'text'"
    [formControl]="control"
    [placeholder]="field.placeholder || ''"
    [required]="isRequired"
    [attr.minlength]="field.minLength"
    [attr.maxlength]="field.maxLength"
    [id]="field.id">
  
  <!-- Error messages with `mat-error` -->
  <mat-error *ngIf="isRequired && control.hasError('required') && control.touched">
    {{ 'formBuilder.fieldRequired' | workyTranslations }}
  </mat-error>
  <mat-error *ngIf="control.hasError('minlength') && control.touched">
    {{ 'formBuilder.minLength' | workyTranslations:'arguments':field.minLength }}
  </mat-error>
  <mat-error *ngIf="control.hasError('maxlength') && control.touched">
    {{ 'formBuilder.maxLength' | workyTranslations:'arguments':field.maxLength }}
  </mat-error>
</mat-form-field>
