<div class="content-fields">
  <label [for]="field.id">{{ field.label }}</label>
  <input 
    [type]="field.type" 
    [id]="field.id" 
    [formControl]="control" 
    [placeholder]="field.placeholder"
    [required]="isRequired"
    [attr.minlength]="field.minLength"
    [attr.maxlength]="field.maxLength">
  
  <div *ngIf="isRequired && control.hasError('required') && control.touched" class="error">
    Este campo es requerido.
  </div>
  <div *ngIf="control.errors?.['minlength'] && control.touched" class="error">
    La longitud mínima es {{ field.minLength }} caracteres.
  </div>
  <div *ngIf="control.errors?.['maxlength'] && control.touched" class="error">
    La longitud máxima es {{ field.maxLength }} caracteres.
  </div>
</div>