<div class="content-edit-detail-profile">
  <div class="edit-profile-container">
    <form [formGroup]="editProfileBasicDetailForm" autocomplete="off">
      <div class="form-detail-basic">
        <div class="form-input">
          <mat-form-field class="worky-input worky-accent">
            <mat-label>Nombre</mat-label>
            <input type="text" formControlName="name" id="name" matInput required>
          </mat-form-field>

          <mat-form-field class="worky-input worky-accent">
            <mat-label>Apellido</mat-label>
            <input type="text" formControlName="lastName" id="lastName" matInput required>
          </mat-form-field>
        </div>
      </div>
    </form>

    <form [formGroup]="editProfailDetailForm" autocomplete="off">
      <div class="form-detail-basic">
        <div class="form-input">
          <mat-form-field class="worky-input worky-accent">
            <mat-label>Leyenda</mat-label>
            <input id="legend" type="text" formControlName="legend" matInput>
          </mat-form-field>

          <mat-form-field class="worky-input worky-accent">
            <mat-label>Fecha de Cumpleaño</mat-label>
            <input id="dateOfBirth" type="date" formControlName="dateOfBirth" matInput>
          </mat-form-field>

          <mat-form-field class="worky-input worky-accent">
            <mat-label>Descripción</mat-label>
            <textarea id="description" formControlName="description" matInput></textarea>
          </mat-form-field>

          <mat-form-field class="worky-input worky-accent">
            <mat-label>Sexo</mat-label>
            <mat-select id="sex" formControlName="sex">
              <mat-option value="">Select</mat-option>
              <mat-option value="masculino">Masculino</mat-option>
              <mat-option value="femenino">Femenino</mat-option>
              <mat-option value="otro">Otro</mat-option>
            </mat-select>
          </mat-form-field>

          <div formGroupName="whatsapp" class="whatsapp-content">
            <mat-slide-toggle class="whatsapp-content" formControlName="isViewable">Habilitar WhatsApp</mat-slide-toggle>

            <div *ngIf="editProfailDetailForm.get('whatsapp.isViewable')?.value">
              <mat-form-field class="worky-input worky-accent">
                <mat-label>Numero de WhatsApp</mat-label>
                <input id="whatsappNumber" type="text" formControlName="number" matInput>
              </mat-form-field>
            </div>
          </div>

        </div>
      </div>
    </form>

    <worky-buttons
      [workyButtonType]="WorkyButtonType.Flat"
      [theme]="WorkyButtonTheme.Basic"
      [disabled]="!editProfileBasicDetailForm.valid"
      [width]="'100%'"
      (click)="onSave()">
      <span basic-button-text>Guardar Cambios</span>
    </worky-buttons>
  </div>
</div>
