@use 'src/assets/styles/worky-typography.scss' as Fonts;
@use 'src/assets/styles/worky-palettes.scss' as color;
@use 'src/assets/styles/worky-breakpoints.scss' as breakpoints;

.content-edit-detail-profile {
  max-width: 550px;
  padding: 15px;
  background-color: color-mix(in srgb,var(--worky-color-light),transparent 5%);
  color: color.$worky-color-text;
  @include breakpoints.below-sm {
    width: 100%;
  }

  .edit-profile-container {
    width: 100%;
    .form-detail-basic {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
      @include breakpoints.below-sm {
        width: 95%;
      }
      span {
        @include Fonts.worky-text;
        color: color.$worky-color-text;
      }
    }
    .detail-full {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .whatsapp-content {
      margin-bottom: 10px;
    }
   }
}

.cdk-global-overlay-wrapper .cdk-overlay-pane {
  @include breakpoints.below-sm {
    max-width: 100% !important;
    width: 95%;
  }
}

::ng-deep .mat-mdc-floating-label, .mdc-floating-label {
  color: color.$worky-color-text!important;
}
