@use 'src/assets/styles/worky-typography.scss' as Fonts;
@use 'src/assets/styles/worky-palettes.scss' as color;
@use 'src/assets/styles/worky-breakpoints.scss' as breakpoints;

.content-edit-detail-profile {
  display: flex;
  width: 550px;
  padding: 15px;
  @include breakpoints.below-sm {
    width: 100%;
  }

  .edit-profile-container {
    width: 100%;
    .form-detail-basic {
      width: 100%;
      display: block;
      margin: 0 auto;
      @include breakpoints.below-sm {
        width: 95%;
      }   
      .form-input {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
        
      span {
        @include Fonts.worky-text;
        color: color.$worky-color-navy;
      }
    }

    .whatsapp-content {
      margin-bottom: 10px;
    }

   }

  }

.cdk-global-overlay-wrapper .cdk-overlay-pane {
  @include breakpoints.below-sm {
    max-width: 100% !important;
    width: 95%;
  }
} 
