@use 'src/assets/styles/worky-variables' as variables;

.side-right-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  top: variables.$worky-navbar-height;
  scrollbar-width: thin;
  scrollbar-color: #ffffff #f0f0f0;
}