<div class="content-app"
  [class.mobil-content-app]="isMobile"
  (scroll)="onScroll($event)">

  <worky-navbar class="navbar-content"
    [isMessages]="isMessages">
  </worky-navbar>

  <div class="content-social-app" 
    [class.content-messages-app]="isMessages"
    [class.content-profile-app]="isProfile" *ngIf="token">
    
      <worky-content-left-side *ngIf="!isMobile && !isProfile && !isMessages"></worky-content-left-side>
      
      <div class="social-content-center" 
        [class.profile-view]="isProfile && !isMobile"
        [class.messages-view]="isMessages"
        (scroll)="onScroll($event)">
        <router-outlet></router-outlet>
      </div>
        
      <worky-content-right-side *ngIf="!isMobile && !isProfile && !isMessages"></worky-content-right-side>

  </div>
</div>


