@use 'src/assets/styles/worky-variables' as variables;
@use 'src/assets/styles/worky-breakpoints.scss' as breakpoints;

.content-app {
  width: 100vw;
  height: 100vh;

  .navbar-content {
    display: flex;
    flex-direction: column;
    height: 8vh;
    @include breakpoints.below-md {
      display: contents;
      height: 15vh;
    }
  }
}

.content-social-app {
  display: flex;
  justify-content: center;
  height: 92vh;
  margin: auto;
  box-sizing: border-box;
  max-width: variables.$worky-app-width;
  @include breakpoints.below-md {
    padding-top: 0px;
    flex-direction: column;
    align-items: center;
  }
}

::ng-deep worky-content-left-side,
::ng-deep worky-content-right-side {
  width: variables.$worky-container-width-sidebar;
  display: block;
  justify-content: space-around;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none; 
  @include breakpoints.below-md {
    display: none;
  }
}

.social-content-center {
  width: variables.$worky-container-width-content;
  min-width: variables.$worky-app-min-width;
  @include breakpoints.below-md {
    width: 100%;
  }
}

.messages-view,
.profile-view  {
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.content-messages-app {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: variables.$worky-app-width;
  max-height: 100%;
  padding: 10px;
  overflow: hidden;
  height: 100vh;
  padding-bottom: 53px;
  @include breakpoints.below-sm {
    height: 84vh;
    padding: 0px;
  }
}

.messages-view {
  position: relative;
  height: 100%;
}

.content-profile-app {
  padding-top: 0px;
}
