<div class="content-right-message">
  <div class="content-section-wall">
    <div class="grid-container">
      <div class="responsive-item-issuing">
        <worky-avatar [size]="50" class="profile-img"></worky-avatar>
        <div class="issuing-user">
          <span>Hey How are you today?</span>
        </div>
      </div>
      <div class="responsive-item-receiving">
        <worky-avatar [size]="40" class="profile-img"></worky-avatar>
        <div class="receiving-user">
          <span>I'm ok what about you?</span>
        </div>
      </div>
      <div class="responsive-item-receiving">
        <worky-avatar [size]="40" class="profile-img"></worky-avatar>
        <div class="receiving-user">
          <span>I'm ok what about you?</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-row items-center h-16 rounded-xl bg-white w-full px-4">
    <button>
      <i class="material-icons">attach_file</i>
    </button>
    <div class="flex-grow ml-4">
      <div class="relative w-full">
        <input
          type="text"
          class="flex w-full border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10"
        />
        <button
          class="absolute flex items-center justify-center h-full w-12 right-0 top-0 text-gray-400 hover:text-gray-600"
        >
          <i class="material-icons">moods</i>
        </button>
      </div>
    </div>
    <div class="ml-4">
      <worky-buttons
        type="submit"
        [theme]="WorkyButtonTheme.Accent"        
        [width]="'100%'">
        <span basic-button-text>Send</span>
      </worky-buttons>
    </div>
  </div>
</div>
