@use 'src/assets/styles/worky-typography.scss' as Fonts;
@use 'src/assets/styles/worky-palettes.scss' as color;
@use 'src/assets/styles/worky-breakpoints.scss' as breakpoints;

.content-right-messageChat {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 0.5rem;
  padding: 10px;
  background-color: #dcdcdc;
  border: 1px solid var(--worky-color-light);
  position: relative;
  overflow: hidden;

  .content-section-wall {
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ffffff #f0f0f0;

    .messages-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 18px;

      .date-divider {
        text-align: center;
        margin: 1rem 0;
        span {
          background: map-get(color.$worky-navy, 72);
          padding: 0.5rem 1rem;
          color: var(--worky-color-navy);
          font-size: 0.9rem;
          border-radius: 12px;
        }
      }

      .message-triangle {
        position: relative;
        right: 9px;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
      }

      .message-sent .message-triangle {
        border-bottom-color: var(--worky-color-indigo);
      }

      .message-received .message-triangle {
        border-bottom-color: var(--worky-color-greyLight);
        left: 10px;
      }

      .message-sent,
      .message-received {
        margin-bottom: 0.1rem;

        &.grouped {
          margin-top: 0rem;
        }

        &.no-avatar {
          padding-left: 60px;
          padding-right: 60px;
        }


        .sent-content,
        .received-content {
          line-height: 1.2;
          border-radius: 1rem;
          padding: 0.5rem 1rem;
          display: inline-block;
          max-width: 100%;
          word-break: break-word;
          box-shadow: -15px 1px 12px rgba(0, 0, 0, 0.1);
          markdown {
            display: flex;
            flex-direction: column;
            white-space: pre-wrap;
            word-wrap: break-word;
            overflow-wrap: break-word;
          }
        }
      }

      .message-sent.first-group.last-group {
        .sent-content {
          border-radius: 1rem 0rem 1rem 1rem;
        }
      }

      .message-received.first-group.last-group {
        .received-content {
          border-radius: 0rem 1rem 1rem 1rem;
        }
      }

      .message-sent.first-group {
        .sent-content {
          border-radius: 1rem 0rem 0rem 1rem;
        }
      }

      .message-received.first-group {
        .received-content {
          border-radius: 0rem 1rem 0rem 0rem;
        }
      }

      .message-received.grouped {
        .received-content {
          border-radius: 0rem 1rem 1rem 0rem;
        }
      }

      .message-sent.grouped {
        .sent-content {
          border-radius: 1rem 0rem 0rem 1rem;
        }
      }

      .message-sent.last-group {
        .sent-content {
          border-radius: 1rem 0rem 1rem 1rem;
          margin-bottom: 15px;
        }
      }

      .message-received.last-group {
        .received-content {
          border-radius: 0rem 1rem 1rem 1rem;
          margin-bottom: 15px;
        }
      }

      .message-sent {
        display: flex;
        justify-content: flex-end;
        .sent-content {
          background-color: var(--worky-color-indigo);
          color: var(--worky-color-light);
        }
      }

      .message-received {
        display: flex;
        justify-content: flex-start;
        .received-content {
          background-color: var(--worky-color-greyLight);
          color: var(--worky-color-dark);
        }
      }

      .content-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5rem;
        i {
          font-size: 18px;
        }
      }
    }
  }

  .emoji-picker-container {
    position: absolute;
    bottom: 110px;
    z-index: 1;
  }

  .message-footer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--worky-color-light);
    border-radius: 0.5rem;
    padding: 0.3rem;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;


    .message-input-container {
      display: flex;
      align-items: center;
      width: 100%;
      flex-shrink: 0;

      .input-wrapper {
        display: flex;
        flex-grow: 1;
        border: 1px solid var(--worky-color-greyLight);
        margin: 5px;
        border-radius: 8px;
      }

      .message-input {
        font-size: 1rem;
        background-color: var(--worky-color-greyLight);
        width: 100%;
        height: 40px;
        min-height: 1.5rem;
        max-height: 6rem;
        resize: none;
        overflow-y: hidden;
        padding: 0.5rem 0.5rem;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 1rem;
        box-sizing: border-box;
      }

    }

    .content-footer-bar {
      display: flex;
      width: 100%;
      padding: 3px 10px 3px 10px;
      gap: 10px;
      cursor: pointer;
      color: color.$worky-color-navy;

      .emoji-wrapper {
        position: relative;
      }

    }
  }
}

.content-right-messageChat::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../../../../../assets/img/shared/fondo_message_chat.jpg') center/cover no-repeat;
  opacity: 0.2;
  z-index: 0;
  pointer-events: none;
}

.header-content-mobil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 20px;
  background: color.$worky-color-navy;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: #FFF;
  flex-shrink: 0;

  .header-content-mobil-left {
    display: flex;
    align-items: center;

    .back-button {
      display: flex;
      background: #ffffffc4;
      color: color.$worky-color-navy;
      margin-left: 10px;
      margin-right: 20px;
      border-radius: 50%;
      padding: 10px;
      font-size: 20px;
      cursor: pointer;
    }

    .user-name {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  .header-content-mobil-right {
    .menu-button {
      background: none;
      border: none;
      color: var(--worky-color-white);
      font-size: 24px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
