<div class="content-side-left">
  <a href="/profile">
    <worky-avatar [size]="60" class="profile-img"></worky-avatar>
  </a>
  <div class="profile-info">
    <span class="profile-name">{{userName}}</span>
  </div>
  <a href="#" class="sidebar-icon active">
    <i class="material-icons">home</i>
    <span class="sidebar-text">Home</span>
  </a>
  <a href="#" class="sidebar-icon">
    <i class="material-icons">people</i>
    <span class="sidebar-text">Friends</span>
  </a>  
  <a href="#" class="sidebar-icon">
    <i class="material-icons">message</i>
    <span class="sidebar-text">Message</span>
  </a>  
  <a href="#" class="sidebar-icon">
    <i class="material-icons">notifications</i>
    <span class="sidebar-text">Notifications</span>
  </a>  
  <a href="#" class="sidebar-icon">
    <i class="material-icons">settings</i>
    <span class="sidebar-text">Settings</span>
  </a>
</div>
