<div class="content-sidebar">
  <div class="profile-info"
    [routerLink]="['/profile']">
    <worky-avatar [size]="60" class="profile-img"></worky-avatar>
    <span class="profile-name">{{userName}}</span>
  </div>

  <div class="content-links-sidebar">
    <a [routerLink]="['/']">
      <i class="material-icons">home</i>
      <span>Home</span>
    </a>
    <a [routerLink]="['/messages']">
      <i class="material-icons">message</i>
      <span>Message</span>
      <span *ngIf="messages > 0" class="badge">{{ messages }}</span>
    </a>
    <a (click)="toggleNotificationsPanel()">
      <i class="material-icons">notifications</i>
      <span>Notifications</span>
      <span *ngIf="notifications > 0" class="badge">{{ notifications }}</span>
    </a>

    <!-- <a (click)="forceSyncMessageCount()" style="cursor: pointer;">
      <i class="material-icons">sync</i>
      <span>Sync Messages</span>
    </a> -->
  </div>

</div>

<worky-notifications-panel></worky-notifications-panel>
