@use 'src/assets/styles/worky-variables' as variables;
@use 'src/assets/styles/worky-palettes' as colors;
@use 'src/assets/styles/worky-breakpoints.scss' as breakpoints;
@use 'sass:map';

.content-sidebar {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background-color: colors.$worky-color-module-container;
  border-radius: 8px;
  width: 100%;
  box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 100%;
  margin: 12px 0px;

  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin: 12px 0px;
    font-weight: 600;
    color: colors.$worky-color-navy;
    cursor: pointer;
  }

  .content-links-sidebar {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    margin-bottom: 20px;
    gap: 10px;
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      text-decoration: none;
      color: colors.$worky-color-text;
      padding: 10px;
      gap: 20px;
      cursor: pointer;
      .badge {
        margin-left: 0.5rem;
        background: colors.$worky-color-red;
        color: #ffffff;
        border-radius: 50%;
        padding: 0.3em 0.5em;
        font-size: 0.75em;
        line-height: 1;
      }
      &:hover {
        background-color: map.get(colors.$worky-navy, 87);
      }
    }
  }
}


