<div class="content-sidebar">
  <div class="profile-info"
    [routerLink]="['/profile']">
    <worky-avatar 
      [size]="60" 
      class="profile-img"
      [img]="userAvatar"
      [name]="userFullName">
    </worky-avatar>
    <span class="profile-name">{{userFullName}}</span>
  </div>

  <div class="content-links-sidebar">
    <a [routerLink]="['/']">
      <i class="material-icons">home</i>
      <span>Home</span>
    </a>
    <a (click)="toggleNotificationsPanel()">
      <i class="material-icons">notifications</i>
      <span>Notifications</span>
      <span *ngIf="notifications > 0" class="badge">{{ notifications }}</span>
    </a>
  </div>

</div>

<worky-notifications-panel></worky-notifications-panel>
