<div class="container-widget content-suggestion worky-module-container">
  <h2 class="module-heading">Suggested</h2>
  <hr class="module-divider" />

  <!-- Suggestion 1 -->
  <div class="suggestion">
    <img class="profile-image" src="https://pbs.twimg.com/profile_images/1121328878142853120/e-rpjoJi_bigger.png" alt="Sonali Hirave" />
    <div class="profile-info">
      <p class="profile-name">Sonali Hirave</p>
      <p class="profile-username">ShonaDesign</p>
    </div>
    <a href="#" class="follow-button">Follow</a>
  </div>
  <hr class="module-divider" />

  <!-- Suggestion 2 -->
  <div class="suggestion">
    <img class="profile-image" src="https://pbs.twimg.com/profile_images/1121328878142853120/e-rpjoJi_bigger.png" alt="John Doe" />
    <div class="profile-info">
      <p class="profile-name">John Doe</p>
      <p class="profile-username">JohnDoe</p>
    </div>
    <a href="#" class="follow-button">Follow</a>
  </div>
  <hr class="module-divider" />

  <!-- Show more -->
  <div class="show-more">
    <p>Show more</p>
  </div>
</div>
