<div class="container-widget container-suggetion worky-module-container">
  <div class="flex">
    <div class="flex-1 m-2">
      <h2 class="module-heading">
        Who to follow
      </h2>
    </div>
  </div>

  <hr class="module-divider" />

  <!--first person who to follow-->

  <div class="flex flex-shrink-0">
    <div class="flex-1">
      <div class="flex items-center w-48">
        <div>
          <img class="profile-image" src="https://pbs.twimg.com/profile_images/1121328878142853120/e-rpjoJi_bigger.png" alt="" />
        </div>
        <div class="profile-info">
          <p class="profile-name">
            Sonali Hirave
          </p>
          <p class="profile-username">
            ShonaDesign
          </p>
        </div>
      </div>
    </div>
    <div class="flex-1 px-4 py-2 m-2">
      <a href="" class="follow-button">
        Follow
      </a>
    </div>
  </div>
  <hr class="module-divider" />

  <!--second person who to follow-->

  <div class="flex flex-shrink-0">
    <div class="flex-1">
      <div class="flex items-center w-48">
        <div>
          <img class="profile-image" src="https://pbs.twimg.com/profile_images/1121328878142853120/e-rpjoJi_bigger.png" alt="" />
        </div>
        <div class="profile-info">
          <p class="profile-name">
            Sonali Hirave
          </p>
          <p class="profile-username">
            ShonaDesign
          </p>
        </div>
      </div>
    </div>
    <div class="flex-1 px-4 py-2 m-2">
      <a href="" class="follow-button">
        Follow
      </a>
    </div>
  </div>

  <hr class="module-divider" />

  <!--show more-->

  <div class="flex">
    <div class="flex-1 p-4">
      <h2 class="show-more">
        Show more
      </h2>
    </div>
  </div>
</div>

