<div class="side-left">
    <!-- Perfil del Usuario -->
    <div class="user-profile">
        <worky-avatar [size]="60" class="profile-img"></worky-avatar>
        <div class="profile-info">
          <span class="profile-name">{{userName}}</span>
          <a href="#">Edit Profile</a>
        </div>  
    </div>

  <!-- Menú de Navegación -->
  <div class="navigation-menu">
    <ul>
      <li><a href="#"><i class="material-icons">home</i>Inicio</a></li>
      <li><a href="#"><i class="material-icons">message</i>Mensajes</a></li>
      <li><a href="#"><i class="material-icons">notifications</i>Notificaciones</a></li>
      <li><a href="#"><i class="material-icons">group</i>Grupos</a></li>
      <li><a href="#"><i class="material-icons">event</i>Eventos</a></li>
      <li><a href="#"><i class="material-icons">settings</i>Ajustes</a></li>
    </ul>
  </div>

  <!-- Amigos Favoritos -->
  <div class="favorite-friends">
    <div class="amigos">
      <h3>Amigos Favoritos</h3>
    </div>
    <ul>
      <li><a href="#">Amigo 1</a></li>
      <li><a href="#">Amigo 2</a></li>
      <li><a href="#">Amigo 3</a></li>
    </ul>
  </div>
</div>
<!-- <worky-news></worky-news> -->
