<div class="side-left">
  <!-- Perfil del Usuario -->
  <div class="user-profile">
    <worky-avatar [size]="60" class="profile-img"></worky-avatar>
    <div class="profile-info">
      <span class="profile-name">{{userName}}</span>
    </div>  
  </div>

  <!-- Menú de Navegación -->
  <div class="navigation-menu">
    <ul>
      <li><a href="#"><i class="material-icons">home</i>Inicio</a></li>
      <li><a href="#"><i class="material-icons">message</i>Mensajes</a></li>
      <li><a href="#"><i class="material-icons">notifications</i>Notificaciones</a></li>
      <li><a href="#"><i class="material-icons">group</i>Grupos</a></li>
      <li><a href="#"><i class="material-icons">event</i>Eventos</a></li>
      <li><a href="#"><i class="material-icons">settings</i>Ajustes</a></li>
    </ul>
  </div>
</div>
<!-- <worky-news></worky-news> -->
