<div class="publishing-container">
  <form [formGroup]="myForm" (ngSubmit)="onSave()" autocomplete="off">
    <div class="publishing-header">
      <worky-avatar [size]="60" *ngIf="type === typePublishing.POST"></worky-avatar>

      <div class="user-name-content" *ngIf="type !== typePublishing.COMMENT">
        <span>{{ userName }}</span>

        <div class="dropdown">
          <div class="form-select" [innerHTML]="privacyFront"
            data-bs-toggle="dropdown"
            aria-expanded="false">
          </div>
          <ul
            class="dropdown-menu "
            aria-labelledby="navbarDropdownMenuLink">
            <li>
              <div class="dropdown-item"
                (click)="postPrivacy(typePrivacy.PUBLIC)">
                <i class="material-icons">language</i> {{ 'publishing.privacy-public' | workyTranslations }}
              </div>
            </li>

            <li>
              <div class="dropdown-item"
                (click)="postPrivacy(typePrivacy.FRIENDS)">
                <i class="material-icons">group</i> {{ 'publishing.privacy-friends' | workyTranslations }}
              </div>
            </li>

            <li>
              <div class="dropdown-item"
                (click)="postPrivacy(typePrivacy.PRIVATE)">
                <i class="material-icons">lock</i> {{ 'publishing.privacy-private' | workyTranslations }}
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>

    <div class="publishing-body" [class.comment-body]="type === typePublishing.COMMENT">
      <div class="textarea-container">

        <worky-avatar [size]="35" *ngIf="type === typePublishing.COMMENT"></worky-avatar>

        <textarea #postText
          class="publishing-textarea"
          (input)="onTextareaInput()"
          formControlName="content"
          placeholder="{{ type === typePublishing.POST ? ('publishing.placeholder' | workyTranslations) + ' ' + userName + '?' : 'comentar como ' + userName + '?' }}">
        </textarea>

      </div>

      <div class="extra-content">
        <div class="emoji-icon">
          <i class="material-icons" (click)="toggleEmojiMenu()">mood</i>
          <div *ngIf="showEmojiMenu" class="emoji-menu" (click)="preventClose($event)">
            <emoji-mart
              [darkMode]="false"
              [showPreview]="false"
              [enableSearch]="false"
              [perLine]="7"
              [emojiSize]="24"
              (emojiSelect)="onEmojiClick($event)">
            </emoji-mart>
          </div>
        </div>
      </div>

    </div>



    <div class="publishing-footer">
      <worky-buttons
        type="submit"
        [workyButtonType]="WorkyButtonType.Flat"
        [theme]="WorkyButtonTheme.Accent"
        [disabled]="!myForm.valid || !myForm.dirty"
        [width]="'100%'">
        <span basic-button-text>{{ type === typePublishing.POST ? ('publishing.publish' | workyTranslations) : 'Comentar' }}</span>
      </worky-buttons>
    </div>

  </form>
</div>
