<div class="content-view-comment">
  <div class="publication-comment" *ngIf="shouldShowComments()">
    <div class="publication-comment-item" *ngFor="let comment of getComments()">
      <worky-avatar 
        [size]="30"
        [img]="comment.author.avatar"
        [name]="comment.author.name + ' ' + comment.author.lastName">
      </worky-avatar>
      <div class="publication-comment-content">
        <div class="publication-comment-data">
          <div class="content-name-header">
            <span class="comment-author">{{ comment.author.name }} {{ comment.author.lastName }}</span>
            <div *ngIf="comment.author._id === dataUser?.id"
              class="material-icons delete-comment"
              (click)="deleteComment(comment._id, publication?._id!)">delete</div>
          </div>
          <div class="comment-content markdown" *ngIf="(comment.content | workyPreviewHtml | async) as result">
            <div [innerHTML]="result.markdownHtml"></div>
            <div class="publication-youtube-preview" [innerHTML]="result.youtubeHtml"></div>
            <div class="publication-url-preview" [innerHTML]="result.previewsHtml"></div>
          </div>

          <worky-image-organizer *ngIf="comment.media?.length"
            [comment]="comment"
            [publication]="publication"
            type="comment">
          </worky-image-organizer>
        </div>
        <span class="comment-date">{{ comment.createdAt | workyRelativeTime }}</span>
      </div>
    </div>
  </div>

  <div class="content-add-comment">
    <worky-add-publication
      [type]="publication?.comment?.length && this.images.length === 1 && typeView === typeViewEnum.PUBLICATION ? typePublishingEnum.COMMENT : typePublishingEnum.IMAGEVIEW"
      [idMedia]="imageSelected"
      [idPublication]="publication?._id">
    </worky-add-publication>
  </div>


</div>
