<div *ngIf="!unlockReactions" class="loader"></div>
<div class="reaction-container-wrapper"
  (mouseleave)="hideReactions()"
  (mouseenter)="showReactions()"
  (touchstart)="onTouchStart()"
  (touchend)="onTouchEnd()">
  <div *ngIf="unlockReactions" class="reaction-container no-select-text">

    <div class="content-text-reaction no-select-text"
        *ngIf="!reactionUserInPublication">
      <i class="material-icons">mood</i>
      <span>{{ 'publicationsView.spanReaction' | workyTranslations }}</span>
    </div>

    <div *ngIf="reactionUserInPublication"
        class="selected-reaction no-select-text"
        (mouseenter)="showReactions()"
        (click)="deleteReaction(reactionUserInPublication._id)"
        (touchstart)="onTouchStart()"
        (touchend)="onTouchEnd()">
      <img [src]="reactionUserInPublication.customReaction.emoji" [alt]="reactionUserInPublication.customReaction.name" (error)="onImageError($event)">
      <div>{{ reactionUserInPublication.customReaction.name }}</div>
    </div>

    <div #reactionPopup
      class="reaction-popup"
      [ngClass]="{'reaction-popup-visible': reactionsVisible}">
      <div class="reaction"
          *ngFor="let reaction of reactions"
          [class.zoomed]="reaction.zoomed"
          (mouseenter)="zoomIn(reaction)"
          (mouseleave)="zoomOut(reaction)"
          [matTooltip]="reaction.name"
          matTooltipPosition="above"
          matTooltipClass="extra-mat-tooltip"
          (click)="addReaction(reaction)">
        <img class="reaction-image" [src]="reaction.emoji" [alt]="reaction.name" (error)="onImageError($event)">
      </div>
    </div>
  </div>
</div>
