<div class="reaction-container no-select-text" (mouseleave)="hideReactions()">

  <div class="content-text-reaction no-select-text"
       (mouseenter)="showReactions()"
       (touchstart)="onTouchStart()"
       (touchend)="onTouchEnd()"
       *ngIf="!reactionUserInPublication">
    <i class="material-icons">mood</i>
    <span>{{ 'publicationsView.spanReaction' | workyTranslations }}</span>
  </div>

  <div *ngIf="reactionUserInPublication"
       class="selected-reaction no-select-text" 
       (mouseenter)="showReactions()"
       (click)="deleteReaction(reactionUserInPublication._id)"
       (touchstart)="onTouchStart()"
       (touchend)="onTouchEnd()">
    <img [src]="reactionUserInPublication.customReaction.emoji" [alt]="reactionUserInPublication.customReaction.name">
    <div>{{ reactionUserInPublication.customReaction.name }}</div>
  </div>

  <div class="reaction-popup" *ngIf="reactionsVisible">
    <div class="reaction" 
         *ngFor="let reaction of reactions" 
         [class.zoomed]="reaction.zoomed" 
         (mouseenter)="zoomIn(reaction)" 
         (mouseleave)="zoomOut(reaction)"
         [matTooltip]="reaction.name"
         matTooltipPosition="above"
         (click)="addReaction(reaction)">
      <img class="reaction-image" [src]="reaction.emoji" [alt]="reaction.name">
    </div>
  </div>
</div>
