@use 'src/assets/styles/worky-palettes.scss' as color;
@use 'src/assets/styles/worky-breakpoints.scss' as breakpoints;
@use 'src/assets/styles/worky-variables.scss' as variables;

.reaction-container-wrapper {
  position: relative;
}

.reaction-container-wrapper::before {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  z-index: 1;
  pointer-events: auto;
}

.reaction-container {
  position: relative;
  display: flex;
  z-index: 2;

  .content-text-reaction {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.reaction-popup {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  bottom: 120%;
  left: -10px;
  background-color: color.$worky-color-light;
  padding: 13px;
  border: 1px solid color.$worky-color-greyLight;
  border-radius: 25px;
  box-shadow: 9px 8px 12px rgba(0, 0, 0, 0.3);
  overflow-x: auto;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
  @include breakpoints.below-sm {
    bottom: 90%;
  }
}

::ng-deep .reaction-tooltip {
  padding: 2px;
  margin-bottom: 10px;
  border-radius: 12px;
  color: color.$worky-color-light;
  background-color: map-get(color.$worky-navy, 12);
}

.reaction-popup-visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.reaction {
  display: flex;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0 5px;
  transition: transform 0.3s ease-in-out;
  @include breakpoints.below-sm {
    width: 25px;
    height: 25px;
  }
}

.reaction.zoomed {
  transform: scale(1.5);
}

.reaction-image {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease-in-out;
  @include breakpoints.below-sm {
    width: 25px;
    height: 25px;
  }
}

.selected-reaction {
  display: flex;
  align-items: center;
  gap: 5px;
  img {
    width: 20px;
    height: 20px;
  }
}

