@use 'src/assets/styles/worky-typography.scss' as Fonts;
@use 'src/assets/styles/worky-palettes.scss' as color;
@use 'src/assets/styles/worky-breakpoints.scss' as breakpoints;

.content-header-profile {

  .image-container {
    width: 100%;
    height: 250px;
    margin-top: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    border: 1px solid color.$worky-color-grey;
    .image {
      transition: transform 0.2s ease-in-out;
      transform-origin: center;
      width: 100%;
      height: 100%;
    }
    &:hover .image {
        transform: scale(1.1);
    }
  }

  .content {
    padding: 1rem;
  }

  .header {
    display: flex;
    width: 100%;
  }

  .avatar-container {
    flex: 1;
    margin-top: -6rem;
    position: relative;
  }

  .profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 0.5rem;

    .user-basic {
        h2 {
            @include Fonts.worky-h3;
            font-weight: bold;
            color: color.$worky-color-navy;
        }

        p {
            font-size: 0.875rem;
            font-weight: medium;
            color: color.$worky-color-grey;
        }
    }
  }

}

.content-body-profile {
  width: 100%;
  display: flex;
  justify-content: center;

  @include breakpoints.below-sm {
    flex-direction: column;
  }

  .content-left-profile {
    width: 40%;
    @include breakpoints.below-sm {
      width: 100%;
    }
  }
  .content-section-wall {
    width: 60%;
    margin-left: 1rem;
    @include breakpoints.below-sm {
      width: 100%;
      margin-left: 0;
    }
  }
}
