.content-weather {
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .search {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
      i {
          position: absolute;
          color: #d9d9d9bb;
        }
      input {
        width: 100%;
        border-radius: 10px;
        border: 1px solid #d9d9d97a;
        padding: 7px 10px;
        text-align: center;
        text-transform: uppercase;
        &::placeholder {
          text-transform: capitalize;
        }
      }
    }

    .local-time {
      display: flex;
      justify-content: center;
    }

    .info-weather {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        margin-top: 10px;
        width: 60%;
      }
      .temperature-current {
        font-size: 24px;
        font-weight: 600;
        span {
          font-size: 18px;
          margin-left: 4px;
        }
      }
      .min-max {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 20px;
        .temperature {
          font-size: 14px;
          line-height: 1;
          span {
            font-size: 10px;
            margin-left: 4px;
          }
        }
      }
      .description {
        font-size: 14px;
        text-transform: capitalize;
      }
    }

    .weather-details {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      padding: 10px;
      .humidity, .wind {
        display: flex;
        align-items: center;
        width: 50%;
      }

    }
}
