  <div class="mt-4 mx-4">
    <div class="w-full overflow-hidden rounded-lg shadow-xs">
      <div class="w-full overflow-x-auto">

        <div class="content-header-title">
          <h2 class="text-lg font-semibold text-gray-800 dark:text-gray-200">{{ 'admin.lastRegisteredUsers-title' | workyTranslations }}</h2>
        </div>

        <table class="w-full">
          <thead>
            <tr class="header-tr">
              <th class="px-4 py-3">{{ 'admin.lastRegisteredUsers-user' | workyTranslations }}</th>
              <th class="px-4 py-3">{{ 'admin.lastRegisteredUsers-status' | workyTranslations }}</th>
              <th class="px-4 py-3">{{ 'admin.lastRegisteredUsers-email' | workyTranslations }}</th>
              <th class="px-4 py-3">{{ 'admin.lastRegisteredUsers-createdAt' | workyTranslations }}</th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">

            @for(user of users; track $index) {

              <tr class="body-tr">
                <td class="px-4 py-3">
                  <div class="flex items-center text-sm">

                    <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                        <worky-avatar 
                          [size]="35"
                          img="{{ user?.avatar }}"
                          name="{{ user?.name }} {{ user.lastName }}">
                        </worky-avatar>
                      <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                    </div>

                    <div>
                      <p class="font-semibold">{{ user?.name }} {{ user?.lastName }}</p>
                      <p class="text-xs text-gray-600 dark:text-gray-400">{{ user.username }}</p>
                    </div>

                  </div>
                </td>

                <td class="px-4 py-3 text-xs">
                  <span class="px-2 py-1 font-semibold leading-tight text-green-700  rounded-full dark:text-green-100"
                    [class.dark:bg-red-700]="user.isVerified === false"
                    [class.dark:bg-green-700]="user.isVerified === true"> {{ user.isVerified === true ? ('admin.lastRegisteredUsers-validated' | workyTranslations) : ('admin.lastRegisteredUsers-pending' | workyTranslations)  }} </span>
                </td>

                <td class="px-4 py-3 text-sm">
                  <span> {{ user.email }} </span>
                </td>

                <td class="px-4 py-3 text-sm">{{ user.createdAt | date }}</td>
              </tr>
  
            }

          </tbody>
        </table>
      </div>
    </div>
  </div>
