@use 'src/assets/styles/worky-typography.scss' as Fonts;
@use 'src/assets/styles/worky-palettes.scss' as color;
@use 'src/assets/styles/worky-breakpoints.scss' as breakpoints;
@use 'sass:map';

.upload-file-modal {
  position: relative;
  background-color: color.$worky-color-light;
  border: 2px solid color.$worky-color-grey;
  color: color.$worky-color-text;
  padding: 20px;
  width: 450px;
  max-width: 600px;
  text-align: center;
  @include breakpoints.below-sm {
    width: 100%;
  }

  .drag-drop-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 280px;
    border: 2px dashed color.$worky-color-grey;
    padding: 20px;
    text-align: center;
    background-color: color.$worky-color-greyLight;
    position: relative;

    .drag-drop-content {
      position: relative;
      z-index: 2;
      p {
        margin: 0;
        @include Fonts.worky-text;
        color: color.$worky-color-navy;
      }
    }

    .drag-drop-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../../../../../assets/img/shared/drag-drop-upload-add-file.webp');
      background-size: cover;
      background-position: center;
      opacity: 0.3;
      z-index: 1;
    }
  }


}
  .upload-button {
    margin: 20px 0;
  }

  .previews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .preview {
    position: relative;
    margin: 10px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 1px solid color.$worky-color-grey;
    border-radius: 4px;
  }

  .preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .remove-button {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 5px;
    color: color.$worky-color-red;
    background: color.$worky-color-grey;
    border-radius: 50%;
  }

  .buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
  }

