@use 'src/assets/styles/worky-breakpoints.scss' as breakpoints;

.content-create-report {
  width: 400px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  @include breakpoints.below-sm {
    width: 100%;
  }
  .content-create-report__body {
    width: 100%;
    ::ng-deep mat-form-field {
        width: 100%;
    }
  }

}