<div class="content-navbar">
  <nav class="worky-navbar">
    <!-- Left elements -->
    <div class="worky-brand">
      <!-- Brand Logo-->
      <a href="#">
        <img
          src="assets/img/navbar/worky-your-logo.png"
          height="20"
          alt="MDB Logo"
          loading="lazy"
          style="margin-top: 2px;"
        />
      </a>
      <!-- Search -->
      <form 
        class="worky-search"
        (ngSubmit)="search($event)">
        <div class="search-container">
          <span class="material-icons search-icon">search</span>
          <input
            type="search"
            class="form-control"
            placeholder="Search"
            [(ngModel)]="searchTerm"
            (input)="onInputChange($event)"
            name="searchTerm"
          />
        </div>
      </form>

    </div>
    <!-- Center elements -->
    <worky-menu-component *ngIf="!isMobile"></worky-menu-component>
    <!-- Right elements -->
    <div class="worky-profile">
      <worky-menu-component *ngIf="isMobile"></worky-menu-component>
      <!-- Message -->
      <worky-dropdown 
        icon="mail"
        [badgeValue]="messages > 0 ? messages : null"
        [badge]=true>
      </worky-dropdown>
      <!-- Notification -->
      <worky-dropdown 
        icon="notifications"
        [badgeValue]="notifications > 0 ? notifications : null"  
        [badge]=true>
      </worky-dropdown>
      <!-- Profile -->
      <worky-dropdown
        [badge]=false
        [dataLink]="dataLinkProfile"
        (linkClicked)="handleLinkClicked($event)"
        img="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp">
      </worky-dropdown>
    </div>

  </nav>
</div>
