@use 'src/assets/styles/worky-variables' as variables;
@use 'src/assets/styles/worky-palettes' as colors;
@use 'src/assets/styles/worky-breakpoints.scss' as breakpoints;

.container-online {
  padding: 10px;
  .worky-module-header {
    display: flex;
    align-items: center;
    margin-left: 10px;
    .worky-module-title {
      font-size: 1.5rem;
      color: map-get(colors.$worky-navy, 24);
    }
  }
  .users-online-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 2px;
    .worky-user {
      cursor: pointer;
      .content-user-online {
        display: flex;
        align-items: center;
        padding: 0.3rem;
        background-color: map-get(colors.$worky-navy, 87); 
        border-radius: 50px;

        ::ng-deep worky-avatar.worky-user-avatar.avatar-online div.avatar {
          border: 3px solid colors.$worky-color-green;
        }
        ::ng-deep worky-avatar.worky-user-avatar.avatar-inactive div.avatar{
          border: 3px solid colors.$worky-color-red;
        }
      }
    }
  }
}

