@use 'src/assets/styles/worky-variables' as variables;
@use 'src/assets/styles/worky-palettes' as colors;
@use 'src/assets/styles/worky-breakpoints.scss' as breakpoints;

.container-user-online {
  background-color: map-get(colors.$worky-grey, 72);
  border-radius: 0.5rem;
  padding: 0.75rem;
  width: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  .user-online-title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    color: colors.$worky-color-navy;
  }
  .user-online-content {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .user-online-item {
    position: relative;
    cursor: pointer;
    &:hover {
      filter: brightness(85%);
    }
    border: 1px solid colors.$worky-color-greyLight;
    border-radius: 50%;
    padding: 0.125rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  .user-online-avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }
  .user-online-point {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0.75rem;
    height: 0.75rem;
    border: 2px solid colors.$worky-color-light;
    border-radius: 50%;
  }
}


