@use 'src/assets/styles/worky-breakpoints.scss' as breakpoints;

.reset-password-modal {
  width: 50vw;
  padding: 25px;
  max-height: 90vh;
  overflow-y: auto;
  
  @include breakpoints.below-sm {
    width: 100vw;
    max-width: 100vw;
    margin: 0;
  }
  
  .reset-password-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .mat-mdc-form-field {
    display: block;
  }
}
