<div class="reset-password-modal">
  <div class="reset-password-title">Restablecer Contraseña</div>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="sendReset()" autocomplete="off">
    <div class="form-input">
        <mat-form-field class="worky-input worky-accent">
            <mat-label>{{ 'input.password' | workyTranslations }}</mat-label>
            <input type="password" formControlName="password" id="password" matInput required>
            <mat-error worky-validation-error-message></mat-error>
        </mat-form-field>
    </div>


    <div class="form-login-buttons">
        <worky-buttons
            [workyButtonType]="WorkyButtonType.Flat"
            [theme]="WorkyButtonTheme.Accent"
            [width]="'100%'"
            type="submit">
            <span basic-button-text>Restablecer</span>
        </worky-buttons>

    </div>
  </form>
</div>
