<div class="reset-password-modal">
  <div class="reset-password-title">{{ 'resetPassword.title' | workyTranslations }}</div>

  <form [formGroup]="resetPasswordForm" autocomplete="off">
    <div class="form-input">
        <mat-form-field class="worky-input worky-accent">
            <mat-label>{{ 'input.password' | workyTranslations }}</mat-label>
            <input type="password" formControlName="password" id="password" matInput required>
            <mat-error worky-validation-error-message></mat-error>
        </mat-form-field>
    </div>


  </form>
  <div class="form-login-buttons">
      <worky-buttons
          [workyButtonType]="WorkyButtonType.Flat"
          [theme]="WorkyButtonTheme.Accent"
          [width]="'25%'"
          (click)="sendReset()">
          <span basic-button-text>{{ 'button.reset' | workyTranslations }}</span>
      </worky-buttons>
  </div>
</div>
