<mat-form-field appearance="fill" class="worky-input worky-accent">
  <mat-label>{{ field.label }}</mat-label>
  
  <mat-select 
    [formControl]="control"
    [multiple]="field.additionalOptions.multiSelect"
    [placeholder]="field.additionalOptions.multiSelect ? 'Selecciona una o varias opciones' : 'Selecciona una opción'"
    [required]="isRequired">
    
    <!-- Mensaje de opción predeterminada, solo si no es multiSelect -->
    <mat-option *ngIf="!field.additionalOptions.multiSelect" value="" disabled>
      Selecciona una opción
    </mat-option>
    
    <!-- Opciones dinámicas -->
    <mat-option *ngFor="let option of field?.options" [value]="option.value">
      {{ option.label }}
    </mat-option>
  </mat-select>

  <!-- Mensaje de error -->
  <mat-error *ngIf="isRequired && control.hasError('required') && control.touched">
    Este campo es requerido.
  </mat-error>
</mat-form-field>
