<div class="content">

    <div class="content-register-header movil">
        <h1 class="title-register">{{ 'register.title' | workyTranslations }}</h1>
        <p class="subTitle-register">{{ 'register.subTitle' | workyTranslations }}</p>
    </div>

    <div class="img-register">
        <img src="assets/img/login/worky-login.svg" alt="Register" />
    </div>

    <div class="content-register">
        <div class="content-register-header">
            <h1 class="title-register">{{ 'register.title' | workyTranslations }}</h1>
            <p class="subTitle-register">{{ 'register.subTitle' | workyTranslations }}</p>
        </div>

        <form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
            <div class="form-register">
                <div class="form-input">
                    <mat-form-field class="worky-input worky-accent">
                        <mat-label>{{ 'input.name' | workyTranslations }}</mat-label>
                            <input type="name" formControlName="name" id="name" matInput required>
                        <mat-error worky-validation-error-message></mat-error>
                    </mat-form-field>

                    <mat-form-field class="worky-input worky-accent">
                        <mat-label>{{ 'input.lastName' | workyTranslations }}</mat-label>
                            <input type="lastName" formControlName="lastName" id="lastName" matInput required>
                        <mat-error worky-validation-error-message></mat-error>
                    </mat-form-field>

                    <mat-form-field class="worky-input worky-accent">
                        <mat-label>{{ 'input.username' | workyTranslations }}</mat-label>
                            <input type="username" formControlName="username" id="username" matInput #userNameInput required>
                        <mat-error worky-validation-error-message></mat-error>
                    </mat-form-field>

                    <mat-form-field class="worky-input worky-accent">
                        <mat-label>{{ 'input.email' | workyTranslations }}</mat-label>
                            <input type="email" formControlName="email" id="email" matInput #emailInput required>
                        <mat-error worky-validation-error-message></mat-error>
                    </mat-form-field>

                    <mat-form-field class="worky-input worky-accent">
                        <mat-label>{{ 'input.password' | workyTranslations }}</mat-label>
                            <input type="password" formControlName="password" id="password" matInput required>
                        <mat-error worky-validation-error-message></mat-error>
                    </mat-form-field>

                    <mat-form-field *ngIf="invitationCode" class="worky-input worky-accent">
                        <mat-label>{{ 'input.invitationCode' | workyTranslations }}</mat-label>
                            <input type="invitationCode" formControlName="invitationCode" id="invitationCode" matInput required>
                        <mat-error worky-validation-error-message></mat-error>
                    </mat-form-field>
                </div>

                <div *ngIf="dynamicFieldsForm" formGroupName="dynamicFields" class="form-input dynamic-fields">
                    <div *ngFor="let field of dynamicFields" class="dynamic-field"
                         [class.dependent-field]="field.cascade?.dependsOn"
                         [style.margin-left.px]="cascadeDepth(field) * 20">

                        <app-input *ngIf="isInputFieldType(field.type)"
                            class="worky-100"
                            [field]="field"
                            [formControlName]="field.id">
                        </app-input>

                        <app-textarea *ngIf="field.type === enumCustomFieldType.TEXTAREA"
                            class="worky-100"
                            [field]="field"
                            [formControlName]="field.id">
                        </app-textarea>

                        <app-select *ngIf="field.type === enumCustomFieldType.SELECT"
                            class="worky-100"
                            [field]="field"
                            [formControlName]="field.id">
                        </app-select>

                        <app-radio *ngIf="field.type === enumCustomFieldType.RADIO"
                            class="worky-100"
                            [field]="field"
                            [formControlName]="field.id">
                        </app-radio>

                        <app-checkbox *ngIf="field.type === enumCustomFieldType.BOOLEAN"
                            class="worky-100"
                            [field]="field"
                            [formControlName]="field.id">
                        </app-checkbox>

                        <app-location *ngIf="field.type === enumCustomFieldType.LOCATION"
                            class="worky-100"
                            [field]="field"
                            [formControlName]="field.id">
                        </app-location>
                    </div>
                </div>

                <div *ngIf="requirePrivacyPolicy" class="privacy-policy-check">
                    <label class="privacy-policy-label">
                        <input type="checkbox" formControlName="acceptedPrivacyPolicy" id="acceptedPrivacyPolicy">
                        <span>
                            {{ 'register.privacyPolicyAccept' | workyTranslations }}
                            <button type="button" class="privacy-policy-link" (click)="openPrivacyModal()">
                                {{ 'register.privacyPolicyLink' | workyTranslations }}
                            </button>
                        </span>
                    </label>
                    <div *ngIf="registerForm.get('acceptedPrivacyPolicy')?.invalid && registerForm.get('acceptedPrivacyPolicy')?.touched" class="privacy-policy-error">
                        {{ 'register.privacyPolicyRequired' | workyTranslations }}
                    </div>
                </div>

                <div class="have-account">
                    <span routerLink="auth/login">{{ 'register.haveAccountLogIn' | workyTranslations }}</span>
                </div>

                <div class="form-register-buttons">
                    <worky-buttons
                        [workyButtonType]="WorkyButtonType.Flat"
                        [theme]="WorkyButtonTheme.Accent"
                        [disabled]="!registerForm.valid"
                        [loading]="registerLoading"
                        [width]="'100%'">
                        <span basic-button-text>{{ 'button.register' | workyTranslations }}</span>
                    </worky-buttons>
                </div>
            </div>
        </form>
    </div>
</div>

<div *ngIf="showPrivacyModal" class="privacy-modal-overlay" (click)="closePrivacyModal()">
    <div class="privacy-modal" (click)="$event.stopPropagation()">
        <div class="privacy-modal-header">
            <h2>{{ 'register.privacyPolicyModalTitle' | workyTranslations }}</h2>
            <button type="button" class="privacy-modal-close" (click)="closePrivacyModal()">
                <span class="material-icons">close</span>
            </button>
        </div>
        <div class="privacy-modal-body">
            <pre class="privacy-modal-content">{{ privacyPolicyContent }}</pre>
        </div>
        <div class="privacy-modal-footer">
            <worky-buttons
                [workyButtonType]="WorkyButtonType.Flat"
                [theme]="WorkyButtonTheme.Basic"
                (click)="closePrivacyModal()"
                [width]="'100%'">
                <span basic-button-text>{{ 'button.close' | workyTranslations }}</span>
            </worky-buttons>
        </div>
    </div>
</div>