@use 'src/assets/styles/worky-typography.scss' as Fonts;
@use 'src/assets/styles/worky-palettes.scss' as color;
@use 'src/assets/styles/worky-breakpoints.scss' as breakpoints;
@use 'sass:map';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  padding-top: 20px;
  @include breakpoints.below-sm {
    height: auto;
  }
  .content {
    width: 100%;
    display: flex;
    @include breakpoints.below-sm {
      flex-direction: column;
      padding: 20px;
      padding-top: 0;
    }
    .img-register {
      width: 50%;
      display: flex;
      justify-content: space-around;
      @include breakpoints.below-sm {
        width: 100%;
        margin-bottom: 50px;
        img {
          width: 70%;
        }
      }
    }
    .content-register {
      color: color.$worky-color-text;
      width: 50%;
      padding: 3%;

      @include breakpoints.below-sm {
        width: 100%;
        padding: 0;
      }

      .form-register {
        width: 70%;
        display: block;
        margin: 0 auto;
        @include breakpoints.below-sm {
          width: 95%;
        }
        .form-input {
          margin-top: 50px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        .have-account {
          display: flex;
          cursor: pointer;
          justify-content: flex-end;
          margin-bottom: 20px;

          span {
            @include Fonts.worky-text;
            color: color.$worky-color-navy;
          }
        }

        .form-register-buttons {
          display: flex;
          flex-direction: column;
          justify-content: center;
          worky-buttons {
            margin-bottom: 10px;
          }
          img {
            margin-right: 10px;
          }
        }
      }
    }

    .content-register-header {
      margin-bottom: 5%;
      h1 {
        margin-block-end: 0;
        margin-block-start: 0;
      }
      p {
        @include Fonts.worky-text;
        margin-block-end: 20px;
        margin-block-start: 5px;
        color: map.get(color.$worky-navy, 24);
      }
      @include breakpoints.below-sm {
        display: none;
      }
    }

    .content-register-header.movil {
      display: none;
      @include breakpoints.below-sm {
        margin-bottom: 0;
        display: block;
      }
    }
  }

  .loading-register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    grid-gap: 45px;
    padding: 20px;
  }
}

::ng-deep worky-buttons .worky-button {
  height: 60px;
  .worky-button-wrapper {
    @include Fonts.worky-h6;
  }
}
