<div class="nav-link" role="button" [attr.data-bs-toggle]="dataLink.length ? 'dropdown' : null">
  <div *ngIf="img && img !== 'avatar'">
    <img [src]="img" class="img-dropdown rounded-circle" loading="lazy" />
  </div>
  <div *ngIf="img === 'avatar'">
    <div *ngIf="loaderAvatar" class="loader"></div>
    <worky-avatar *ngIf="!loaderAvatar"
      [size]="size ?? 50"
      [img]="profileImageUrl"
      [name]="user.name + ' ' + user.lastName">
    </worky-avatar>
  </div>

  <ng-container>
    <span class="material-icons" [class.mover-icono]="badgeValue">{{ icon }}</span>
    <span *ngIf="badge && badgeValue" class="badge rounded-pill badge-notification bg-danger">
      {{ badgeValue }}
    </span>
  </ng-container>

  <span *ngIf="title" class="title-dropdown">{{ title }}</span>
</div>

<div *ngIf="dataLink?.length" class="dropdown-menu" [ngClass]="{'dropdown-menu-end': true, 'dropdown-up': dropdownDirection === 'up', 'dropdown-down': dropdownDirection === 'down'}">
  <div class="content-dropdow" *ngFor="let data of dataLink; let dataIndex = index;" (click)="handleMenuItemClick(data)">
    <span *ngIf="data.icon"
      class="material-icons"
      [ngClass]="data?.color">
      {{ data.icon }}
    </span>
    <span *ngIf="data.img" class="icon-img-dropdown">
      <img [src]="data.img" loading="lazy" />
    </span>
    <span>{{ data.title }}</span>
  </div>
</div>
