@use 'src/assets/styles/worky-variables.scss' as var;
@use 'src/assets/styles/worky-palettes' as colors;
@use 'sass:map';

.img-dropdown {
  height: 40px;
}

.dropdown-menu {
  border-radius: var.$worky-border-radius-medium;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  &.dropdown-down {
    top: 450px;
  }

  &.dropdown-up {
    bottom: 50px;
  }
}

.content-drop-dow {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  cursor: pointer;
  transition: 0.3s;
  gap: 10px;

  &:hover {
    color: colors.$worky-color-light;
    background-color: map.get(colors.$worky-blue, 56);
  }

  .icon-img-dropdown {
    width: 20px;
    height: 20px;
  }
}

.badge-notification {
  position: absolute;
  margin-left: 13px;
}

@keyframes moverIcono {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.mover-icono {
  animation: moverIcono 0.8s infinite alternate;
}
