<div
  class="nav-link"
  role="button"
  [attr.data-bs-toggle]="dataLink?.length ? 'dropdown' : null">
  <div *ngIf="img && img !=='avatar'">
    <img
      src="{{ img }}"
      class="img-dropdown rounded-circle"
      loading="lazy"/>
  </div>
  <div *ngIf="img === 'avatar'">
    <worky-avatar [size]="50"></worky-avatar>
  </div>

  <ng-container>
    <span class="material-icons" [class.mover-icono]="badgeValue">{{ icon }}</span>
    <span *ngIf="badge && badgeValue"
      class="badge rounded-pill badge-notification bg-danger">
      {{ badgeValue }}
    </span>
  </ng-container>

  <span *ngIf="title" class="title-dropdown">{{ title }}</span>

</div>

<div *ngIf="dataLink?.length"
  class="dropdown-menu dropdown-menu-end">
    <div class="content-dropdow" *ngFor="let data of dataLink; let dataIndex = index;">
      <span *ngIf="data.icon" class="material-icons" >{{ data.icon }}</span>
      <span *ngIf="data.img" class="img-dropdown">
        <img src="{{ data.img }}" class="img-dropdown rounded-circle" loading="lazy"/>
      </span>
      <span (click)="handleMenuItemClick(data)">
         {{ data.title }}
      </span>
    </div>
</div>
