@use 'src/assets/styles/worky-variables.scss' as var;
@use 'src/assets/styles/worky-palettes' as colors;
@use 'sass:map';

.img-dropdown {
  height: 40px;
}

.dropdown-menu {
  position: absolute;
  margin-top: 10px;
  left: 0;
  background-color: color-mix(in srgb, var(--worky-color-light), transparent 20%);
  border-radius: var.$worky-border-radius-medium;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  &.dropdown-menu-end {
    left: auto;
  }

  &.dropdown-up {
    bottom: 100%;
    top: auto;
  }

  &.dropdown-down {
    top: 100%;
    bottom: auto;
  }
}

.content-drop-dow {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  cursor: pointer;
  transition: 0.3s;
  gap: 10px;
  color: colors.$worky-color-text;
  background-color: color-mix(in srgb, var(--worky-color-light), transparent 20%);

  &:hover {
    background-color: map.get(colors.$worky-navy, 87);
  }

  .icon-worky-dropdown {
    border-radius: 50%;
    background-color: map.get(colors.$worky-navy, 87);
    padding: 5px;
  }

  .icon-img-dropdown {
    width: 20px;
    height: 20px;
    padding: 5px;
  }
}

.badge-notification {
  position: absolute;
  margin-left: 13px;
}

@keyframes moverIcono {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.mover-icono {
  animation: moverIcono 0.8s infinite alternate;
}

::ng-deep ion-action-sheet.dropdown-menu-mobile .action-sheet-group {
  width: 100%;
  padding: 5px;
  background-color: map.get(colors.$worky-navy, 12);
  border-radius: 16px 16px 0px 0px;
  .action-sheet-title {
    color: colors.$worky-color-light;
    font-size: 25px;
    font-weight: 600;
  }
  button {
    display: flex;
    align-items: center;
    span {
      color: colors.$worky-color-light;
      font-size: 20px;
    }
    .action-sheet-icon {
      color: colors.$worky-color-light;
      background-color: map.get(colors.$worky-navy, 7);
      padding: 8px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}
