<div class="nav-link" role="button" [attr.data-bs-toggle]="dataLink.length ? 'dropdown' : null"
    (mouseenter)="checkDropdownDirection()">
  <div *ngIf="img && img !== 'avatar'">
    <img [src]="img" class="img-dropdown rounded-circle" loading="lazy" />
  </div>
  <div *ngIf="img === 'avatar'">
    <div *ngIf="loaderAvatar" class="loader"></div>
    <worky-avatar *ngIf="!loaderAvatar"
      [size]="size ?? 50"
      [img]="profileImageUrl"
      [name]="user.name + ' ' + user.lastName">
    </worky-avatar>
  </div>

  <ng-container>
    <span class="material-symbols-rounded" [ngClass]="{'filled': isFilled}" [class.mover-icono]="badgeValue">{{ icon }}</span>
    <span *ngIf="badge && badgeValue" class="badge rounded-pill badge-notification bg-danger">
      {{ badgeValue }}
    </span>
  </ng-container>

  <span *ngIf="title" class="title-dropdown">{{ title }}</span>
</div>

<div *ngIf="dataLink?.length" class="dropdown-menu"
  [class.dropdown-menu-end]="true"
  [class.dropdown-upn]="dropdownDirection === 'up'"
  [class.dropdown-down]="dropdownDirection === 'down'">
  <div class="content-drop-dow" *ngFor="let data of dataLink; let dataIndex = index;" (click)="handleMenuItemClick(data)">
    <span *ngIf="data.icon"
      class="material-symbols-rounded"
      [ngClass]="{'filled': isFilled}"
      [ngClass]="data?.color">
      {{ data.icon }}
    </span>
    <span *ngIf="data.img" class="icon-img-dropdown">
      <img [src]="data.img" loading="lazy" />
    </span>
    <span>{{ data.title }}</span>
  </div>
</div>
