<button mat-button
  class="worky-button"
  [disabled]="disabled"
  [ngStyle]="{ 'width': width }"
  [ngClass]="{ 'worky-button-basic': isBasic, 'worky-button-outline': isOutline, 'worky-button-flat': isFlat, 'worky-button-disabled': disabled }"
  (click)="onButtonClick()">
  <div class="worky-button-wrapper"
    fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
    <ng-content select="[prefix-icon]"></ng-content>
    <ng-content select="[basic-button-text]"></ng-content>
    <ng-content select="[suffix-icon]"></ng-content>
  </div>
</button>
