@use 'src/assets/styles/worky-palettes.scss' as color;
@use 'src/assets/styles/worky-typography.scss' as typography;
@use 'sass:map';

:host {
  .worky-button {
    max-width: 100%;
    border-radius: 8px;
    padding: 7px 16px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    .worky-button-wrapper {
      display: flex;
      width: 100%;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
    }

    ::ng-deep .worky-button-wrapper span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    ::ng-deep .worky-button-wrapper span[class^="material-icons"], span[class*=" material-icons"] {
      font-size: 20px;
      flex-shrink: 0;
    }
  }
}

:host-context(.theme-basic) {
  .worky-button-basic {
    color: map.get(color.$worky-navy, 100);
  }
  .worky-button-outline {
    color: map.get(color.$worky-navy, 100);
    border: 1px solid map.get(color.$worky-navy, 100);
  }
  .worky-button-flat {
    color: color.$worky-color-light;
    background-color: map.get(color.$worky-navy, 100);
  }
  .worky-button-disabled {
    color: map.get(color.$worky-navy, 72);
    background-color: map.get(color.$worky-navy, 24);
  }
}

:host-context(.theme-primary) {
  .worky-button-basic {
    color: map.get(color.$worky-teal, 100);
  }
  .worky-button-outline {
    color: map.get(color.$worky-teal, 100);
    border: 1px solid map.get(color.$worky-teal, 100);
  }
  .worky-button-flat {
    color: color.$worky-color-light;
    background-color: map.get(color.$worky-teal, 100);
  }
  .worky-button-disabled {
    color: map.get(color.$worky-teal, 72);
    background-color: map.get(color.$worky-teal, 24);
  }
}

:host-context(.theme-accent) {
  .worky-button-basic {
    color: map.get(color.$worky-blue, 100);
  }
  .worky-button-outline {
    color: map.get(color.$worky-blue, 100);
    border: 1px solid map.get(color.$worky-blue, 100);
  }
  .worky-button-flat {
    color: #fff;
    background-color: map.get(color.$worky-blue, 100);
  }
  .worky-button-disabled {
    color: map.get(color.$worky-blue, 72);
    background-color: map.get(color.$worky-blue, 24);
  }
}

:host-context(.theme-warn) {
  .worky-button-basic {
    color: map.get(color.$worky-magenta, 100);
  }
  .worky-button-outline {
    color: map.get(color.$worky-magenta, 100);
    border: 1px solid map.get(color.$worky-magenta, 100);
  }
  .worky-button-flat {
    color: color.$worky-color-light;
    background-color: map.get(color.$worky-magenta, 100);
  }
  .worky-button-disabled {
    color: map.get(color.$worky-magenta, 72);
    background-color: map.get(color.$worky-magenta, 24);
  }
}

.mat-button-disabled {
  opacity: 0.56;
}

::ng-deep .mat-mdc-button .mdc-button__label {
  z-index: 0!important;
}
