<div class="content-view-media-carousel">
  <div class="carousel-container">
    <!-- Imagen principal -->
    <img [src]="imageSelected?.urlCompressed" class="main-image" alt="Selected Image" />

    <ng-container *ngIf="images.length > 1">
      <button (click)="previousImage()" class="nav-button prev-button"><span class="material-icons">keyboard_arrow_left</span></button>
      <button (click)="nextImage()" class="nav-button next-button"><span class="material-icons">keyboard_arrow_right</span></button>
    </ng-container>
  </div>

  <!-- Lista de miniaturas -->
  <div class="thumbnail-list">
    <img
      *ngFor="let image of images"
      [src]="image.urlThumbnail"
      (click)="selectImage(image)"
      [class.active]="image._id === imageSelected?._id"
      alt="Thumbnail"
    />
  </div>
</div>
