.avatar {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  min-width: 30px;
  min-height: 30px;
  max-width: 100px;
  max-height: 100px;

  .avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 20%;
    border-radius: 50%;
  }
}

.initials {
  word-break: break-all;
  color: white;
  text-transform: uppercase;
}


