@use './worky-palettes-variables';
@use 'sass:map';

$worky-color-navy: var(--worky-color-navy);
$worky-color-yellow: var(--worky-color-yellow);
$worky-color-yellow-text: var(--worky-color-yellow-text);
$worky-color-green: var(--worky-color-green);
$worky-color-radium: var(--worky-color-radium);
$worky-color-teal: var(--worky-color-teal);
$worky-color-cyan: var(--worky-color-cyan);
$worky-color-blue: var(--worky-color-blue);
$worky-color-indigo: var(--worky-color-indigo);
$worky-color-purple: var(--worky-color-purple);
$worky-color-fuchsia: var(--worky-color-fuchsia);
$worky-color-magenta: var(--worky-color-magenta);
$worky-color-red: var(--worky-color-red);
$worky-color-black: var(--worky-color-black);

$worky-color-light: var(--worky-color-light);
$worky-color-greyLight: var(--worky-color-greyLight);
$worky-color-grey: var(--worky-color-grey);

$worky-color-dark: $worky-color-navy;
$worky-color-primary: $worky-color-navy;
$worky-color-accent: $worky-color-blue;
$worky-color-warn: $worky-color-magenta;

// Colors icons, text, etc
$worky-color-icon: var(--worky-color-icon);
$worky-color-text: var(--worky-color-text);
$worky-color-input-background: var(--worky-color-input-background);

// Colors Components
$worky-color-module-container: var(--worky-color-module-container);
$worky-color-content-navbar: var(--worky-color-content-navbar);

$worky-navy: (
   3:  color-mix(in srgb, $worky-color-navy, $worky-color-light 3%),
   6:  color-mix(in srgb, $worky-color-navy, $worky-color-light 6%),
   7:  color-mix(in srgb, $worky-color-navy, $worky-color-light 7%),
   9:  color-mix(in srgb, $worky-color-navy, $worky-color-light 9%),
  12:  color-mix(in srgb, $worky-color-navy, $worky-color-light 12%),
  24:  color-mix(in srgb, $worky-color-navy, $worky-color-light 24%),
  56:  color-mix(in srgb, $worky-color-navy, $worky-color-light 56%),
  72:  color-mix(in srgb, $worky-color-navy, $worky-color-light 72%),
  87:  color-mix(in srgb, $worky-color-navy, $worky-color-light 87%),
  93:  color-mix(in srgb, $worky-color-navy, $worky-color-light 93%),
  100:     $worky-color-navy,
  contrast: (
      3: $worky-color-dark,
      6: $worky-color-dark,
      7: $worky-color-dark,
      9: $worky-color-dark,
     12: $worky-color-dark,
     24: $worky-color-dark,
     56: $worky-color-light,
     72: $worky-color-light,
     87: $worky-color-light,
     93: $worky-color-light,
    100: $worky-color-light,
  )
);

$worky-yellow: (
   3:  color-mix(in srgb, $worky-color-yellow, $worky-color-light 3%),
   6:  color-mix(in srgb, $worky-color-yellow, $worky-color-light 6%),
   7:  color-mix(in srgb, $worky-color-yellow, $worky-color-light 7%),
   9:  color-mix(in srgb, $worky-color-yellow, $worky-color-light 9%),
  12:  color-mix(in srgb, $worky-color-yellow, $worky-color-light 12%),
  24:  color-mix(in srgb, $worky-color-yellow, $worky-color-light 24%),
  56:  color-mix(in srgb, $worky-color-yellow, $worky-color-light 56%),
  72:  color-mix(in srgb, $worky-color-yellow, $worky-color-light 72%),
  87:  color-mix(in srgb, $worky-color-yellow, $worky-color-light 87%),
  100:     $worky-color-yellow,
  contrast: (
      3: $worky-color-dark,
      6: $worky-color-dark,
      7: $worky-color-dark,
      9: $worky-color-dark,
     12: $worky-color-dark,
     24: $worky-color-dark,
     56: $worky-color-dark,
     72: $worky-color-light,
     87: $worky-color-light,
    100: $worky-color-light,
  )
);

$worky-yellow-text: (
   3:  color-mix(in srgb, $worky-color-yellow-text, $worky-color-light 3%),
   6:  color-mix(in srgb, $worky-color-yellow-text, $worky-color-light 6%),
   7:  color-mix(in srgb, $worky-color-yellow-text, $worky-color-light 7%),
   9:  color-mix(in srgb, $worky-color-yellow-text, $worky-color-light 9%),
  12:  color-mix(in srgb, $worky-color-yellow-text, $worky-color-light 12%),
  24:  color-mix(in srgb, $worky-color-yellow-text, $worky-color-light 24%),
  56:  color-mix(in srgb, $worky-color-yellow-text, $worky-color-light 56%),
  72:  color-mix(in srgb, $worky-color-yellow-text, $worky-color-light 72%),
  87:  color-mix(in srgb, $worky-color-yellow-text, $worky-color-light 87%),
  100:     $worky-color-yellow-text,
  contrast: (
      3: $worky-color-dark,
      6: $worky-color-dark,
      7: $worky-color-dark,
      9: $worky-color-dark,
     12: $worky-color-dark,
     24: $worky-color-dark,
     56: $worky-color-dark,
     72: $worky-color-light,
     87: $worky-color-light,
    100: $worky-color-light,
  )
);

$worky-green: (
   3:  color-mix(in srgb, $worky-color-green, $worky-color-light 3%),
   6:  color-mix(in srgb, $worky-color-green, $worky-color-light 6%),
   7:  color-mix(in srgb, $worky-color-green, $worky-color-light 7%),
   9:  color-mix(in srgb, $worky-color-green, $worky-color-light 9%),
  12:  color-mix(in srgb, $worky-color-green, $worky-color-light 12%),
  24:  color-mix(in srgb, $worky-color-green, $worky-color-light 24%),
  56:  color-mix(in srgb, $worky-color-green, $worky-color-light 56%),
  72:  color-mix(in srgb, $worky-color-green, $worky-color-light 72%),
  87:  color-mix(in srgb, $worky-color-green, $worky-color-light 87%),
  100:     $worky-color-green,
  contrast: (
      3: $worky-color-dark,
      6: $worky-color-dark,
      7: $worky-color-dark,
      9: $worky-color-dark,
     12: $worky-color-dark,
     24: $worky-color-dark,
     56: $worky-color-dark,
     72: $worky-color-light,
     87: $worky-color-light,
    100: $worky-color-light,
  )
);

$worky-radium: (
   3:  color-mix(in srgb, $worky-color-radium, $worky-color-light 3%),
   6:  color-mix(in srgb, $worky-color-radium, $worky-color-light 6%),
   7:  color-mix(in srgb, $worky-color-radium, $worky-color-light 7%),
   9:  color-mix(in srgb, $worky-color-radium, $worky-color-light 9%),
  12:  color-mix(in srgb, $worky-color-radium, $worky-color-light 12%),
  24:  color-mix(in srgb, $worky-color-radium, $worky-color-light 24%),
  56:  color-mix(in srgb, $worky-color-radium, $worky-color-light 56%),
  72:  color-mix(in srgb, $worky-color-radium, $worky-color-light 72%),
  87:  color-mix(in srgb, $worky-color-radium, $worky-color-light 87%),
  100:     $worky-color-radium,
  contrast: (
      3: $worky-color-dark,
      6: $worky-color-dark,
      7: $worky-color-dark,
      9: $worky-color-dark,
     12: $worky-color-dark,
     24: $worky-color-dark,
     56: $worky-color-dark,
     72: $worky-color-light,
     87: $worky-color-light,
    100: $worky-color-light,
  )
);

$worky-teal: (
   3:  color-mix(in srgb, $worky-color-teal, $worky-color-light 3%),
   6:  color-mix(in srgb, $worky-color-teal, $worky-color-light 6%),
   7:  color-mix(in srgb, $worky-color-teal, $worky-color-light 7%),
   9:  color-mix(in srgb, $worky-color-teal, $worky-color-light 9%),
  12:  color-mix(in srgb, $worky-color-teal, $worky-color-light 12%),
  24:  color-mix(in srgb, $worky-color-teal, $worky-color-light 24%),
  56:  color-mix(in srgb, $worky-color-teal, $worky-color-light 56%),
  72:  color-mix(in srgb, $worky-color-teal, $worky-color-light 72%),
  87:  color-mix(in srgb, $worky-color-teal, $worky-color-light 87%),
  100:     $worky-color-teal,
  contrast: (
      3: $worky-color-dark,
      6: $worky-color-dark,
      7: $worky-color-dark,
      9: $worky-color-dark,
     12: $worky-color-dark,
     24: $worky-color-dark,
     56: $worky-color-dark,
     72: $worky-color-light,
     87: $worky-color-light,
    100: $worky-color-light,
  )
);

$worky-cyan: (
   3:  color-mix(in srgb, $worky-color-cyan, $worky-color-light 3%),
   6:  color-mix(in srgb, $worky-color-cyan, $worky-color-light 6%),
   7:  color-mix(in srgb, $worky-color-cyan, $worky-color-light 7%),
   9:  color-mix(in srgb, $worky-color-cyan, $worky-color-light 9%),
  12:  color-mix(in srgb, $worky-color-cyan, $worky-color-light 12%),
  24:  color-mix(in srgb, $worky-color-cyan, $worky-color-light 24%),
  56:  color-mix(in srgb, $worky-color-cyan, $worky-color-light 56%),
  72:  color-mix(in srgb, $worky-color-cyan, $worky-color-light 72%),
  87:  color-mix(in srgb, $worky-color-cyan, $worky-color-light 87%),
  100:     $worky-color-cyan,
  contrast: (
      3: $worky-color-dark,
      6: $worky-color-dark,
      7: $worky-color-dark,
      9: $worky-color-dark,
     12: $worky-color-dark,
     24: $worky-color-dark,
     56: $worky-color-dark,
     72: $worky-color-light,
     87: $worky-color-light,
    100: $worky-color-light,
  )
);

$worky-blue: (
   3:  color-mix(in srgb, $worky-color-blue, $worky-color-light 3%),
   6:  color-mix(in srgb, $worky-color-blue, $worky-color-light 6%),
   7:  color-mix(in srgb, $worky-color-blue, $worky-color-light 7%),
   9:  color-mix(in srgb, $worky-color-blue, $worky-color-light 9%),
  12:  color-mix(in srgb, $worky-color-blue, $worky-color-light 12%),
  24:  color-mix(in srgb, $worky-color-blue, $worky-color-light 24%),
  56:  color-mix(in srgb, $worky-color-blue, $worky-color-light 56%),
  72:  color-mix(in srgb, $worky-color-blue, $worky-color-light 72%),
  87:  color-mix(in srgb, $worky-color-blue, $worky-color-light 87%),
  93:  color-mix(in srgb, $worky-color-blue, $worky-color-light 93%),
  100:     $worky-color-blue,
  contrast: (
      3: $worky-color-dark,
      6: $worky-color-dark,
      7: $worky-color-dark,
      9: $worky-color-dark,
     12: $worky-color-dark,
     24: $worky-color-dark,
     56: $worky-color-dark,
     72: $worky-color-light,
     87: $worky-color-light,
     93: $worky-color-light,
    100: $worky-color-light,
  )
);

$worky-indigo: (
   3:  color-mix(in srgb, $worky-color-indigo, $worky-color-light 3%),
   6:  color-mix(in srgb, $worky-color-indigo, $worky-color-light 6%),
   7:  color-mix(in srgb, $worky-color-indigo, $worky-color-light 7%),
   9:  color-mix(in srgb, $worky-color-indigo, $worky-color-light 9%),
  12:  color-mix(in srgb, $worky-color-indigo, $worky-color-light 12%),
  24:  color-mix(in srgb, $worky-color-indigo, $worky-color-light 24%),
  56:  color-mix(in srgb, $worky-color-indigo, $worky-color-light 56%),
  72:  color-mix(in srgb, $worky-color-indigo, $worky-color-light 72%),
  87:  color-mix(in srgb, $worky-color-indigo, $worky-color-light 87%),
  100:     $worky-color-indigo,
  contrast: (
      3: $worky-color-dark,
      6: $worky-color-dark,
      7: $worky-color-dark,
      9: $worky-color-dark,
     12: $worky-color-dark,
     24: $worky-color-dark,
     56: $worky-color-dark,
     72: $worky-color-light,
     87: $worky-color-light,
    100: $worky-color-light,
  )
);

$worky-purple: (
   3:  color-mix(in srgb, $worky-color-purple, $worky-color-light 3%),
   6:  color-mix(in srgb, $worky-color-purple, $worky-color-light 6%),
   7:  color-mix(in srgb, $worky-color-purple, $worky-color-light 7%),
   9:  color-mix(in srgb, $worky-color-purple, $worky-color-light 9%),
  12:  color-mix(in srgb, $worky-color-purple, $worky-color-light 12%),
  24:  color-mix(in srgb, $worky-color-purple, $worky-color-light 24%),
  56:  color-mix(in srgb, $worky-color-purple, $worky-color-light 56%),
  72:  color-mix(in srgb, $worky-color-purple, $worky-color-light 72%),
  87:  color-mix(in srgb, $worky-color-purple, $worky-color-light 87%),
  100:     $worky-color-purple,
  contrast: (
      3: $worky-color-dark,
      6: $worky-color-dark,
      7: $worky-color-dark,
      9: $worky-color-dark,
     12: $worky-color-dark,
     24: $worky-color-dark,
     56: $worky-color-dark,
     72: $worky-color-light,
     87: $worky-color-light,
    100: $worky-color-light,
  )
);

$worky-fuchsia: (
   3:  color-mix(in srgb, $worky-color-fuchsia, $worky-color-light 3%),
   6:  color-mix(in srgb, $worky-color-fuchsia, $worky-color-light 6%),
   7:  color-mix(in srgb, $worky-color-fuchsia, $worky-color-light 7%),
   9:  color-mix(in srgb, $worky-color-fuchsia, $worky-color-light 9%),
  12:  color-mix(in srgb, $worky-color-fuchsia, $worky-color-light 12%),
  24:  color-mix(in srgb, $worky-color-fuchsia, $worky-color-light 24%),
  56:  color-mix(in srgb, $worky-color-fuchsia, $worky-color-light 56%),
  72:  color-mix(in srgb, $worky-color-fuchsia, $worky-color-light 72%),
  87:  color-mix(in srgb, $worky-color-fuchsia, $worky-color-light 87%),
  100:     $worky-color-fuchsia,
  contrast: (
      3: $worky-color-dark,
      6: $worky-color-dark,
      7: $worky-color-dark,
      9: $worky-color-dark,
     12: $worky-color-dark,
     24: $worky-color-dark,
     56: $worky-color-dark,
     72: $worky-color-light,
     87: $worky-color-light,
    100: $worky-color-light,
  )
);

$worky-magenta: (
   3:  color-mix(in srgb, $worky-color-magenta, $worky-color-light 3%),
   6:  color-mix(in srgb, $worky-color-magenta, $worky-color-light 6%),
   7:  color-mix(in srgb, $worky-color-magenta, $worky-color-light 7%),
   9:  color-mix(in srgb, $worky-color-magenta, $worky-color-light 9%),
  12:  color-mix(in srgb, $worky-color-magenta, $worky-color-light 12%),
  24:  color-mix(in srgb, $worky-color-magenta, $worky-color-light 24%),
  56:  color-mix(in srgb, $worky-color-magenta, $worky-color-light 56%),
  72:  color-mix(in srgb, $worky-color-magenta, $worky-color-light 72%),
  87:  color-mix(in srgb, $worky-color-magenta, $worky-color-light 87%),
  100:     $worky-color-magenta,
  contrast: (
      3: $worky-color-dark,
      6: $worky-color-dark,
      7: $worky-color-dark,
      9: $worky-color-dark,
     12: $worky-color-dark,
     24: $worky-color-dark,
     56: $worky-color-dark,
     72: $worky-color-light,
     87: $worky-color-light,
    100: $worky-color-light,
  )
);

$worky-red: (
   3:  color-mix(in srgb, $worky-color-red, $worky-color-light 3%),
   6:  color-mix(in srgb, $worky-color-red, $worky-color-light 6%),
   7:  color-mix(in srgb, $worky-color-red, $worky-color-light 7%),
   9:  color-mix(in srgb, $worky-color-red, $worky-color-light 9%),
  12:  color-mix(in srgb, $worky-color-red, $worky-color-light 12%),
  24:  color-mix(in srgb, $worky-color-red, $worky-color-light 24%),
  56:  color-mix(in srgb, $worky-color-red, $worky-color-light 56%),
  72:  color-mix(in srgb, $worky-color-red, $worky-color-light 72%),
  87:  color-mix(in srgb, $worky-color-red, $worky-color-light 87%),
  100:     $worky-color-red,
  contrast: (
      3: $worky-color-dark,
      6: $worky-color-dark,
      7: $worky-color-dark,
      9: $worky-color-dark,
     12: $worky-color-dark,
     24: $worky-color-dark,
     56: $worky-color-dark,
     72: $worky-color-light,
     87: $worky-color-light,
    100: $worky-color-light,
  )
);

$worky-grey: (
  3: color-mix(in srgb, $worky-color-grey, $worky-color-light 3%),
  6: color-mix(in srgb, $worky-color-grey, $worky-color-light 6%),
  7: color-mix(in srgb, $worky-color-grey, $worky-color-light 7%),
  9: color-mix(in srgb, $worky-color-grey, $worky-color-light 9%),
  12: color-mix(in srgb, $worky-color-grey, $worky-color-light 12%),
  24: color-mix(in srgb, $worky-color-grey, $worky-color-light 24%),
  56: color-mix(in srgb, $worky-color-grey, $worky-color-light 56%),
  72: color-mix(in srgb, $worky-color-grey, $worky-color-light 72%),
  87: color-mix(in srgb, $worky-color-grey, $worky-color-light 87%),
  100: $worky-color-grey,
  contrast: (
    3: $worky-color-dark,
    6: $worky-color-dark,
    7: $worky-color-dark,
    9: $worky-color-dark,
    12: $worky-color-dark,
    24: $worky-color-dark,
    56: $worky-color-dark,
    72: $worky-color-light,
    87: $worky-color-light,
    100: $worky-color-light,
  )
);

/* worky App Components Colors */

/* App */
$worky-color-app-background: $worky-color-light;
// $worky-color-app-text: $worky-color-navy;
// $worky-color-app-dark: $worky-color-navy;

$worky-color-app-primary: map.get($worky-blue, 100);
$worky-color-app-secondary: map.get($worky-blue, 56);

/* App Components */
$worky-background-header-color: map.get($worky-blue, 24);
