<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkbsFGCDSlJ-ShFMIYCxsHsF2c0mInZq0</string>
	<key>GCM_SENDER_ID</key>
	<string>914032321589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.worky.dev</string>
	<key>PROJECT_ID</key>
	<string>socialworky</string>
	<key>STORAGE_BUCKET</key>
	<string>socialworky.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914032321589:ios:9ef918d25079a0d9fe7d7c</string>
</dict>
</plist>