<div class="container-widget container-contactos worky-module-container">
  <div class="conversation-header">
    <span class="font-bold">{{ 'contacts.title' | workyTranslations }}</span>
  </div>
  <hr class="module-divider" />
  <div class="conversation-list">
    <button class="conversation">
      <div class="avatar">H</div>
      <div class="conversation-details">
        <div class="name">{{ 'contacts.exampleName' | workyTranslations }}</div>
      </div>
    </button>
    <button class="conversation">
      <div class="avatar">H</div>
      <div class="conversation-details">
        <div class="name">{{ 'contacts.exampleName' | workyTranslations }}</div>
      </div>
    </button>
    <button class="conversation">
      <div class="avatar">H</div>
      <div class="conversation-details">
        <div class="name">{{ 'contacts.exampleName' | workyTranslations }}</div>
      </div>
    </button>
    <button class="conversation">
      <div class="avatar">H</div>
      <div class="conversation-details">
        <div class="name">{{ 'contacts.exampleName' | workyTranslations }}</div>
      </div>
    </button>
    <button class="conversation">
      <div class="avatar">H</div>
      <div class="conversation-details">
        <div class="name">{{ 'contacts.exampleName' | workyTranslations }}</div>
      </div>
    </button>
    <button class="conversation">
      <div class="avatar">H</div>
      <div class="conversation-details">
        <div class="name">{{ 'contacts.exampleName' | workyTranslations }}</div>
      </div>
    </button>
    <button class="conversation">
      <div class="avatar">H</div>
      <div class="conversation-details">
        <div class="name">{{ 'contacts.exampleName' | workyTranslations }}</div>
      </div>
    </button>
    <button class="conversation">
      <div class="avatar">H</div>
      <div class="conversation-details">
        <div class="name">{{ 'contacts.exampleName' | workyTranslations }}</div>
      </div>
    </button>
    <button class="conversation">
      <div class="avatar">H</div>
      <div class="conversation-details">
        <div class="name">{{ 'contacts.exampleName' | workyTranslations }}</div>
      </div>
    </button>
    <button class="conversation">
      <div class="avatar">H</div>
      <div class="conversation-details">
        <div class="name">{{ 'contacts.exampleName' | workyTranslations }}</div>
      </div>
    </button>
    <button class="conversation">
      <div class="avatar">H</div>
      <div class="conversation-details">
        <div class="name">{{ 'contacts.exampleName' | workyTranslations }}</div>
      </div>
    </button>
    <button class="conversation">
      <div class="avatar">H</div>
      <div class="conversation-details">
        <div class="name">{{ 'contacts.exampleName' | workyTranslations }}</div>
      </div>
    </button>
    <button class="conversation">
      <div class="avatar">H</div>
      <div class="conversation-details">
        <div class="name">{{ 'contacts.exampleName' | workyTranslations }}</div>
      </div>
    </button>
  </div>
</div>
