<div class="notifications-panel" [class.active]="isActive">
  <div class="content-header">
    <div class="text-section">
      <span>Notificaciones</span>
      <p> Tienes {{ unreadNotifications }} notificaciones sin leer.</p>
    </div>
    <i class="material-icons" (click)="togglePanel()">close</i>
  </div>

  <div class="content-body">

    <div class="notification-item" *ngFor="let notification of formatListNotifications">

      <div class="notification-item-content" 
        [class.notification-not-viewed]="notification.read === false"
        (click)="goToLink(notification.link, notification._id)">
        <div class="notification-item-header">
          <span class="notification-item-title">{{notification.content}}</span>
          <span class="notification-item-date">Hace {{notification.createdAt | workyRelativeTime }}</span>
        </div>

        <div class="notification-item-body" *ngIf="notification.type === type.COMMENT">
          <i class="material-icons">{{ notification.icon }}</i>
          <div class="content">
            <span> {{ notification.additionalDataComment?.nameComment }} Comento: </span>
            <span class="notification-item-description">{{ notification.additionalDataComment?.comment }}</span>
          </div>
        </div>

        <div class="notification-item-body" *ngIf="notification.type === type.LIKE">
          <i class="material-icons">{{ notification.icon }}</i>
          <div class="content">
            <span> {{ notification.additionalDataLike?.userNameReaction }} ha reaccionado con un: <img src="{{ notification.additionalDataLike?.emoji }}"> </span>
          </div>
        </div>

        <div class="notification-item-body" *ngIf="notification.type === type.FRIEND_REQUEST">
          <i class="material-icons">{{ notification.icon }}</i>
          <div class="content">
            <span> {{ notification.additionalDataFriendRequest?.sendUserName }} te ha solicitado amistad. </span>
          </div>
        </div>

        <div class="notification-item-body" *ngIf="notification.type === type.FRIEND_ACCEPTED">
          <i class="material-icons">{{ notification.icon }}</i>
          <div class="content">
            <span> {{ notification.additionalDataFriendAccept?.acceptUserName }} ha aceptado tu solicitud de amistad. </span>
          </div>
        </div>

      </div>

    </div>
  </div>  


</div>

