@use 'src/assets/styles/worky-variables' as variables;
@use 'src/assets/styles/worky-palettes' as colors;
@use 'src/assets/styles/worky-breakpoints.scss' as breakpoints;
@use 'sass:map';

.notifications-panel {
  position: fixed;
  top: 0;
  right: -500px;
  width: 500px;
  height: 100%;
  color: colors.$worky-color-text;
  background-color: colors.$worky-color-light;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-out;
  z-index: 1000;

  @include breakpoints.below-sm {
    width: 100%;
    right: -100%;
  }

  &.active {
    right: 0;
  }

  .content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    height: 80px;

    .panel-title {
      margin-bottom: 10px;

      h2 {
        font-size: 24px;
        font-weight: bold;
        color: colors.$worky-color-navy;
      }
    }

    .tabs {
      display: flex;
      gap: 10px;

      .tab-button {
        padding: 10px 15px;
        border: none;
        border-radius: 20px;
        background-color: colors.$worky-color-input-background;
        color: colors.$worky-color-text;
        font-size: 14px;
        cursor: pointer;
        transition: all 0.3s ease;

        &.active {
          background-color: map.get(colors.$worky-navy, 12);
          color: map.get(colors.$worky-navy, 87);
        }

        &:hover:not(.active) {
          background-color: map.get(colors.$worky-navy, 3);
          color: map.get(colors.$worky-navy, 87);
        }
      }
    }

    i {
      cursor: pointer;
      font-size: 24px;
      color: colors.$worky-color-navy;
    }
  }

  .content-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: calc(100% - 80px);
    overflow-y: auto;
  }

  .notification-item-content {
    padding: 15px;
    background-color: colors.$worky-color-greyLight;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: colors.$worky-color-grey;
    }

    &.notification-not-viewed {
      background-color: map.get(colors.$worky-navy, 93);
      color: colors.$worky-color-navy;
      border: 1px solid map.get(colors.$worky-navy, 87);

      &:hover {
        background-color: map.get(colors.$worky-navy, 72);
      }
    }

    .notification-item-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .notification-item-title {
        font-size: 16px;
        font-weight: 500;
      }

      .notification-item-date {
        font-size: 12px;
        color: #7b7b7b;
      }
    }

    .notification-item-body {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: space-between;

      .item-body {
        cursor: pointer;
        display: flex;
        gap: 10px;
        margin-top: 10px;
      }

      i {
        color: colors.$worky-color-navy;
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: 5px;

        span {
          font-size: 14px;
        }

        img {
          width: 25px;
          height: 25px;
        }
      }
    }

    .action-menu {
      display: flex;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      background-color: map.get(colors.$worky-navy, 56);
      z-index: 1000;
      ::ng-deep worky-dropdown {
        display: flex;
      }
      ::ng-deep worky-dropdown .nav-link:hover{
        color: #fff;
      }

      &:hover {
        background-color: map.get(colors.$worky-navy, 24);
      }
    }
  }
}
