<div class="container-detail">
   <div class="header-detail">
     <span>Detalles</span>
   </div>

   <div class="body-detail">
      <div class="detail">
        <i class="material-icons">badge</i>
        <span class="label-detail">Nombre: </span>
        <span>{{ userData?.name }}</span>
      </div>
      <div class="detail">
        <i class="material-icons">badge</i>
        <span class="label-detail">Apellido: </span>
        <span>{{ userData?.lastName }}</span>
      </div>
      <div class="detail">
        <i class="material-icons">person</i>
        <span class="label-detail">Usuario: </span>
        <span>{{ userData?.username }}</span>
      </div>
      <div class="detail">
        <i class="material-icons">alternate_email</i>
        <span class="label-detail">Correo: </span>
        <span>{{ userData?.email }}</span>
      </div>
      <div class="detail" *ngIf="userData?.profile?.dateOfBirth">
        <i class="material-icons">cake</i>
        <span class="label-detail">Fecha de Nacimiento: </span>
        <span>{{ userData?.profile?.dateOfBirth | date: 'dd/MM/yyyy' }}</span>
      </div>
      <div class="detail" *ngIf="userData?.profile?.sex">
        <i class="material-icons">person</i>
        <span class="label-detail">Sexo: </span>
        <span>{{ userData?.profile?.sex }}</span>
      </div>

      <div class="detail">
        <i class="material-icons">schedule</i>
        <span class="label-detail">Se unío en: </span>
        <span>{{ userData?.createdAt | date: 'MMMM yyyy' }}</span>
      </div>

   </div>

   <div class="footer-detail">
    <worky-buttons *ngIf="isCurrentUser"
        [workyButtonType]="WorkyButtonType.Outline"
        [theme]="WorkyButtonTheme.Basic"
        [width]="'100%'"
        (click)="abrirFormulario()">
        <span basic-button-text>Edit Profile</span>
    </worky-buttons>
   </div>

</div>



